
.innovation-wrapper{
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-stretch;
    max-width: 100%;
    width:100%;
    position: relative;
    @media #{$breakpoint-ls}{
        @include flex-wrap(wrap);
        align-items: initial;
        padding:0 1rem;
    }
}
aside{
    &.sidebar{
        position: relative;
        @include transition(width 1s ease);
        &.left-sidebar{
            width:450px;
            @media screen and (max-width:1440px){
                width:400px;
            }
            @media #{$breakpoint-ls}{
                @include flex(0 0 100%);
                width:100%;
            }
        }
        &.right-sidebar{
            width:320px;
        }
    }
    
}

main{
    &.main{
        position: relative;
        flex-grow: 1;
        // @media screen and (max-width:1440px){
        //     width: calc(100% - 400px);
        // }
        @media #{$breakpoint-ls}{
            width:100%;
        }
        // #map{
        //     height: calc(100vh - 90px);
        // }
        .search-bar{
            position: absolute;
            z-index: 1001;
            left:1rem;
            top:1rem;
            select{
                margin-left: .6125rem;
                &.form-control{
                    width: auto;
                    font-size: .775rem;
                    height: 37px;
                }
            }
        }
    }
    
}
.innovation-wrapper{
    &.expand-left-sidebar{
       aside{
           &.sidebar{
               &.left-sidebar{
                    width:0px;
                    .sidebar-in{
                        display: none;
                    }
                    .expand-button{
                        right:-34px;
                    }
               }
           }
       }
    }
    &.expand-right-sidebar{
        aside{
            &.sidebar{
                &.right-sidebar{
                     width:0px;
                     .sidebar-in{
                        display: none;
                    }
                     .expand-button{
                         left:-34px;
                     }
                }
            }
        }
     }
}
.main-card-header{
    @include display-flex(flex);
    @include justify-content-between;
    @include align-items-center;
    @include flex-wrap(wrap);
    padding-bottom: 1.5rem;
    h5{
        font-size: 1.5rem;
        font-weight: 600;
        @media #{$breakpoint-ls}{
            font-size: 1.5rem;
        }
        @media #{$breakpoint-lg}{
            font-size: 1.2rem;
        }
    }
}
.leaflet-top, .leaflet-bottom{
    z-index: 801;
}
.datasets-list{
    background-color: $secondary-light;
    @include radius(8px);
    padding:1rem 2rem;
    margin-bottom: 2rem;
    @media #{$breakpoint-lg}{
        padding:1rem;
    }
    li{
        a{
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            font-weight: 400;
            color:$body-color;
            padding:.35rem .6125rem;
            
            h6{
                font-size: .875rem;
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                @include transition(all .3s ease-in-out);
                font-weight: 500;
                i{
                    font-size: 1.2rem;
                    margin-right: .5rem;
                    color:$secondary-color;
                }
            }
            span{
                &.counter{
                    color:$heading-color;
                    font-weight: 700;
                }
            }
            &:hover{
                background-color: $secondary-light;
                h6{
                    color:$secondary-color;
                }
            }
            
        }
    }
}
.table-list{
    margin-top:.6125rem;
    .main-card-header{
        @include justify-content-end;

        button{
            color:$body-color;
            padding:0;
            i{
                font-size: 1.2rem;
                @include transform(rotate(90deg));
            }
        }
    }
}
.dataset-table{
    table{
        color:$body-color;
        background-color: $grey-color;
        border:none;
        padding:.775rem;
        @include radius(10px);
        th{
            background-color: transparent;;
            border:none;
            padding:0;
        }
        tr{
            
            border:none;
            
        }
    }
    td{
        vertical-align: middle;
        padding:10px;
        border:none;
        
        .dataset-header{
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-start;
        }
        .content-icon{
            @include flex(0 0 60px);
            max-width: 60px;
            span{
                background-color: $secondary-light;
                width:50px;
                height: 50px;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                @include radius(50%);
                i{
                    color:$secondary-color;
                    font-size: 1.5rem;
                }
            }
        }
        .dataset-header-content{
            @include display-flex(flex);
                @include justify-content-between;
                @include align-items-center;
                flex-grow: 1;
                .content-header-left{
                    flex-grow: 1;
                    span{
                        color:$blue-color;
                        font-size: .775rem;
                    }
                    h4{
                        color:$secondary-color;
                        font-size: .9125rem;
                        margin-bottom: .35rem;
                    }
                    p{
                        @include display-flex(flex);
                        @include justify-content-start;
                        @include align-items-center;
                        font-size: .8125rem;
                        span{
                            color:$body-color;
                        }
                        i{
                            font-size: 1.2rem;
                            margin-right: .6125rem;
                        }
                    }
                    @media screen and (max-width:1366px){
                        h4{
                            font-size: .875rem;
                        }
                        p{
                            font-size: .775rem;
                        }
                    }
                }
                
        }
        .dataset-detail-list{
            span{
                font-size: .775rem;
            }
            p{
                font-size: .875rem;
                color:$heading-color;
            }
        }
        
    }
}
.dataset-action{
    min-width: 100px;
    @include display-flex(flex);
    @include justify-content-between;
    @include align-items-center;
    @include flex-wrap(wrap);
    a{
        &.view-map{
            font-size: .775rem;
            font-weight: 500;
            color:$body-color;
        }
        &.download{
            color:$body-color;
            i{
                @include transform(rotate(90deg));
                font-size: 1.2rem;
            }
            &:hover{
                i{
                    color:$secondary-color;
                }
            }
        }
    }

}

.td-status{
    @include display-flex(flex);
    @include justify-content-between;
    @include align-items-center;
    @include flex-wrap(wrap);
    a{
        &.status{
            padding:.25rem 1rem;
            @include radius(30px);
            text-transform: capitalize;
            font-size: .775rem;
            font-weight: 500;
            &.active{
                background-color: $green-light;
                color:$green-color;
            }
            &.inactive{
                background-color: $secondary-light;
                color:$secondary-color;
            }
        }
        &.download{
            color:$body-color;
            i{
                @include transform(rotate(90deg));
                font-size: 1.2rem;
            }
            &:hover{
                i{
                    color:$secondary-color;
                }
            }
        }
    }
}



aside.sidebar .filter-aside-body {
    height: 50vh;
}

