.manage-user{
    background-color: $white-color;
    padding:1.5rem;
    .zite-card{
        box-shadow: none;
        .card-header{
            padding:0;
        }
        .zite-body{
            padding:0;
            padding-top:1rem;
        }
    }
}