[class*='common-button'] {
    -webkit-font-smoothing: antialiased;
    font-size: var(--fs-btn);
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    position: relative;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    min-width: 160px;
    min-height: 40px;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    @include radius(30px);
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);
    position: relative;
    &:focus {
        border-color: var(--clr-primary-500);
    }
    &.is-bg {
        color: var(--clr-white);
        background-color: var(--clr-primary-500);
        border-color: var(--clr-primary-500);
        @include box-shadow(0 10px 40px rgba(var(--clr-primary-500), 0.25));
        &:disabled,
        &.is-disable {
            color: var(--clr-body);
            background-color: transparent;
            border: 1px solid var(--clr-body-300);
            cursor: not-allowed;
            box-shadow: none;
            &:hover {
                background-color: transparent;
                color: var(--clr-body);
                border-color: var(--clr-body-300);
            }
        }
        &.is-light {
            background-color: var(--clr-primary-50);
            color: var(--clr-body);
            @include radius(5px);
            box-shadow: none;
            min-width: 124px;
            i {
                color: var(--clr-primary-500);
            }
        }
        &:hover {
            background-color: var(--clr-primary-500);
            border-color: var(--clr-primary-500);
            color: var(--clr-white);
            @include box-shadow(0 30px 40px rgba(var(--clr-primary-800), 0.25));
            i {
                color: var(--clr-white);
            }
        }
    }
    &.is-auto {
        min-width: initial;
        min-height: initial;
    }
    &.is-full-line {
        width: 100%;
    }
    &.is-clear {
        background-color: transparent;
        border-width: 0;
        min-width: auto;
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        color: var(--clr-body);
        font-size: 0.9375rem;
        padding: 0;
        min-height: initial;
        min-width: initial;
        svg {
            margin-left: 0.5rem;
            @include transition(margin 0.5s ease-in-out);
        }
        &:hover {
            color: $secondary-color;
            svg {
                margin-left: 0.6125rem;
            }
        }
    }
    &.is-border {
        background-color: transparent;
        color: $secondary-color;
        border: 1px solid;
        border-color: var(--clr-body-300);
        &.is-icon {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            color: var(--clr-body);
            font-size: 0.9375rem;
            i {
                margin-right: 0.5rem;
            }
        }
        &.is-danger {
            border-color: $secondary-color;
            color: $secondary-color;
        }
        &:hover {
            border-color: $secondary-color;
            color: $secondary-color;
        }
        &:disabled,
        &.is-disable {
            color: var(--clr-body);
            background-color: transparent;
            border: 1px solid var(--clr-body-300);
            cursor: not-allowed;
            box-shadow: none;
            &:hover {
                background-color: transparent;
                color: var(--clr-body);
                border-color: var(--clr-body-300);
            }
        }
    }
    &.no-border {
        background-color: transparent;
        color: $secondary-color;
        border-color: transparent;
        &.is-icon {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            color: $secondary-color;
            font-size: 0.9375rem;
            i {
                margin-right: 0.5rem;
            }
        }
    }
    &.is-icon {
        @include justify-content-between;
        color: var(--clr-white);
        i {
            margin-right: 0.5rem;
            font-size: 0.9375rem;
        }
    }
    &:disabled,
    &.is-disable {
        color: var(--clr-body);
        background-color: transparent;
        border: 1px solid var(--clr-body-300);
        cursor: not-allowed;
        box-shadow: none;
        &:hover {
            background-color: transparent;
            color: var(--clr-body);
            border-color: var(--clr-body-300);
        }
    }
    &.is-sm {
        min-width: initial;
        min-height: initial;
        font-size: .775rem;
        padding: 0.35rem .75rem;
        &.is-clear {
            text-transform: uppercase;
        }
        &.is-primary {
            color: var(--clr-primary-500);
        }
        &.is-bg {
            &.is-light {
                min-width: initial;
                min-height: initial;
                font-size: .775rem;
                padding: 0.35rem .75rem;
            }
        }
    }
    &.is-radius-5 {
        @include radius(5px);
    }
    @media #{$breakpoint-md-desktop} {
        padding: 0.25rem 1rem;
        min-width: inherit;
        min-height: initial;
        font-size: 0.875rem;
    }
}

button.load-more-button,
a.load-more-button {
    @include display-flex(flex);
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    background-color: var(--clr-body-100);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--clr-body);
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    i {
        text-transform: initial;
        color: var(--clr-primary-800);
        margin-left: 0.5rem;
    }
}

.buttons {
    button,
    a {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &.is-center {
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
    }
    &.is-between {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
    }
    &.is-end {
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
    }
}

[class*='circle-icon'] {
    width: 34px;
    height: 34px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: var(--clr-body);
    @include radius(100%);
    min-height: 34px;
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);
    i {
        font-size: 1.2rem;
    }
    &.is-bg {
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-800);
        &:hover {
            background-color: var(--clr-primary-500);
            color: var(--clr-white);
        }
    }
    &.is-border {
        border: 1px solid var(--clr-body-300);
    }
    &:not(:last-child) {
        margin-right: 0.6125rem;
    }
}

.circle-icons {
    @include display-flex(flex);
    @include align-items-center;
    &.is-start {
        @include justify-content-start;
    }
    &.is-end {
        @include justify-content-end;
    }
    &.is-center {
        @include justify-content-center;
    }
    &.is-vertical {
        @include justify-content-center;
        @include flex-direction-column(column);
        span,
        a {
            margin-right: 0;
            &:not(:last-child) {
                margin-bottom: 0.6125rem;
            }
        }
    }
}

[class*='square-icon'] {
    width: 50px;
    height: 50px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: var(--clr-body);
    @include radius(5px);
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);
    &.is-blue {
        background-color: var(--clr-blue-50);
    }
    &.is-red {
        background-color: var(--clr-red-50);
    }
    &.is-green {
        background-color: var(--clr-primary-50);
    }
    &.is-orange {
        background-color: var(--clr-orange-50);
    }
    &.sm-square {
        width: 30px;
        height: 30px;
        i {
            font-size: 1.2rem;
        }
        &.is-active {
            background-color: var(--clr-primary-50);
            color: var(--clr-primary-500);
        }
    }
}

.close-icon {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    width: 34px;
    height: 34px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    border: 1px solid var(--clr-body-300);
    @include radius(100%);
    @include transition(all 0.5s ease-in-out);
    cursor: pointer;
    color: var(--clr-body);
    &:hover {
        color: var(--clr-red);
        border-color: var(--clr-red);
    }
}

.icons {
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;
    i {
        font-size: 1.2rem;
        cursor: pointer;
    }
    span {
        &:not(:last-child) {
            margin-right: 0.6125rem;
        }
    }
}

[role='button'] {
    &:focus {
        border-color: transparent !important;
    }
}