[class*='common-button'] {
    -webkit-font-smoothing: antialiased;
    font-size: var(--fs-btn);
    font-weight: 600;
    text-decoration: none;
    text-transform: capitalize;
    padding: .875rem 2rem;
    position: relative;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    border: none;
    outline: none;
    line-height: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    @include radius(30px);
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);
    position: relative;
    @media #{$breakpoint-ls} {
        padding: 0.5rem 1.5rem;
    }
    &:focus {
        
        outline: none;
    }
    &:disabled
    &.is-disable{
        cursor: not-allowed;
            box-shadow: none;
    }
    &.is-icon {
        @include justify-content-between;
        gap:0.5rem;
    }
    &.is-sm {
        font-size: var(--fs-md);
        padding: 0.5rem 1.125rem;
        @include radius(5px);
        &.is-clear {
            text-transform: uppercase;
        }
        &.is-icon{
            @include justify-content-start;
            
        }
       
    }
    &.is-filter-btn{
        color:var(--clr-body);
        background-color: var(--clr-primary-50);
        border:1px solid var(--clr-primary-50);
        &:hover{
            border-color: var(--clr-primary-500);
        }
        &.is-active{
            border-color: var(--clr-primary-500);
            background-color: var(--clr-primary-500); 
            color:var(--clr-white);
        }
    }
    
    
    &.is-bg {
        color: var(--clr-white);
        background-color: var(--clr-primary-500);
        
        &.is-sm{
            color:var(--clr-body);
            background-color: var(--clr-primary-50);
            i{
                color:var(--clr-primary-500)
            }
            &:hover{
                i{
                    color:var(--clr-white);
                }
                color: var(--clr-white);
                background-color: var(--clr-primary-500); 
            }
        }
        &:disabled,
        &.is-disable {
            color: var(--clr-body-400);
            background-color: var(--clr-body-400);
            &:hover {
                background-color: var(--clr-body-400);
            }
        }
        &.is-light {
            background-color: var(--clr-primary-50);
            color: var(--clr-body);
            @include radius(5px);
            box-shadow: none;
            i {
                color: var(--clr-primary-500);
            }
        }
        &.is-bg-red{
            background-color: var(--clr-red);
            
        }
        
        &:hover {
            @include box-shadow(0 30px 40px var(--clr-primary-100));
        }
    }
    &.is-auto {
        min-width: initial;
        min-height: initial;
    }
    &.is-full-line {
        width: 100%;
    }
    &.is-clear {
        background-color: transparent;
        border-width: 0;
        color: var(--clr-primary-500);
        padding: 0.5rem .1.125rem;
        
        &.is-icon{
            @include justify-content-start; 
        }
        &:hover {
            background-color: var(--clr-primary-50);
            svg {
                margin-left: 0.6125rem;
            }
        }
    }
    &.is-border {
        background-color: transparent;
        color: var(--clr-primary-500);
        border: 1px solid;
        border-color: var(--clr-primary-500);
       
        &.is-danger {
            border-color: $secondary-color;
            color: $secondary-color;
        }
        &:hover {
            color: var(--clr-white);
            background-color: var(--clr-primary-500);
            @include box-shadow(0 30px 40px rgba(var(--clr-primary-500), 0.25));
        }
        &:disabled,
        &.is-disable {
            color: var(--clr-body-400);
            background-color: transparent;
            border: 1px solid var(--clr-body-400);
            cursor: not-allowed;
            box-shadow: none;
            &:hover {
                background-color: transparent;
                color: var(--clr-body-400);
                border-color: var(--clr-body-400);
            }
        }
    }
    &.no-border {
        background-color: transparent;
        color: $secondary-color;
        border-color: transparent;
        &.is-icon {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            color: $secondary-color;
            font-size: 0.9375rem;
            i {
                margin-right: 0.5rem;
            }
        }
    }
    
    
    
    &.is-radius-5 {
        @include radius(5px);
    }
    
}

button.load-more-button,
a.load-more-button {
    @include display-flex(flex);
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    background-color: var(--clr-body-100);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--clr-body);
    width: 100%;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    i {
        text-transform: initial;
        color: var(--clr-primary-800);
        margin-left: 0.5rem;
    }
}

.buttons {
    button,
    a {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }
    &.is-center {
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
    }
    &.is-between {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
    }
    &.is-end {
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
    }
}

[class*='circle-icon'] {
    position: relative;
    width: 40px;
    height: 40px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: var(--clr-body);
    @include radius(100%);
    min-height: 40px;
    cursor: pointer;
    @include transition(all 0.2s ease-in-out);
    &:hover{
        background-color: var(--clr-primary-50);
    }
    i{
        margin:0;
    }
   
    &.is-bg {
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-800);
        &:hover {
            background-color: var(--clr-primary-500);
            color: var(--clr-white);
        }
    }
    &.is-border {
        border: 1px solid var(--clr-body-400);
        &:hover {
            background-color: var(--clr-primary-50);
            color: var(--clr-primary-500);
            border-color: var(--clr-primary-500);
        }
    }
    &:disabled,
        &.is-disable {
            color: var(--clr-white);
            background-color: var(--clr-body-400);
            border: 1px solid var(--clr-body-400);
            cursor: not-allowed;
            box-shadow: none;
            
        }

    &:not(:last-child) {
        margin-right: 0.6125rem;
    }
   
}
.is-circle{
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    .is-horiz{
        @include flex-direction-column(column);
    }
    &.is-md {
        width: 40px;
        height: 40px;
        max-width: 40px;
        
    }
    &.is-sm {
        width: 32px;
        height: 32px;
        max-width: 32px;
    }
    &.is-img{
        position: relative;
        overflow: hidden;
        @include radius(100%);
        img{
            position: absolute;
            width: 100%;
            background-size: cover;
            object-fit: cover;
            width: 100%;
            height: 100%;
            @include radius(100%);
        }
    }
}

.circle-icons {
    @include display-flex(flex);
    @include align-items-center;
    &.is-start {
        @include justify-content-start;
    }
    &.is-end {
        @include justify-content-end;
    }
    &.is-center {
        @include justify-content-center;
    }
    &.is-vertical {
        @include justify-content-center;
        @include flex-direction-column(column);
        span,
        a {
            margin-right: 0;
            &:not(:last-child) {
                margin-bottom: 0.6125rem;
            }
        }
    }

}

[class*='square-icon'] {
    width: 50px;
    height: 50px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    color: var(--clr-body);
    @include radius(5px);
    cursor: pointer;
    @include transition(all 0.4s ease-in-out);
    &.is-blue {
        background-color: var(--clr-blue-50);
    }
    &.is-red {
        background-color: var(--clr-red-50);
        color:var(--clr-red)
    }
    &.is-green {
        background-color: var(--clr-primary-50);
    }
    &.is-orange {
        background-color: var(--clr-orange-50);
    }
    &.is-md {
        width: 40px;
        height: 40px;
        
    }
    &.sm-square {
        width: 32px;
        height: 32px;
        i {
            font-size: 1.2rem;
        }
        &.is-active {
            background-color: var(--clr-primary-50);
            color: var(--clr-primary-500);
        }
    }
}

.close-icon {
    position: absolute;
    z-index: 2;
    top: 1rem;
    right: 1rem;
    width: 34px;
    height: 34px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    border: 1px solid var(--clr-body-300);
    @include radius(100%);
    @include transition(all 0.5s ease-in-out);
    cursor: pointer;
    color: var(--clr-body);
    &:hover {
        color: var(--clr-red);
        border-color: var(--clr-red);
    }
}

.icons {
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;
    i {
        font-size: 1.2rem;
        cursor: pointer;
    }
    span {
        &:not(:last-child) {
            margin-right: 0.6125rem;
        }
    }
}

[role='button'] {
    &:focus {
        border-color: transparent !important;
    }
}