.custom-dropdown {
  position: relative;

  a {
    position: relative;
    // padding-right: 2rem;
    @include transition(all 0.2s ease-in-out);
    &.is-after-icon{
      display: inline-flex;
      @include align-items-center;
      padding-right: 1rem;
      &::after {
        content: 'arrow_drop_down';
        font-family: 'Material Icons';
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        z-index: 2;
        right: 0;
        font-size: 1.2rem;
    }
  }
    

    &.is-border,
    &.is-light {
      padding: 10px;
      @include radius(5px);
      padding-right: 2rem;
      display: inline-block;
      font-weight: 600;
      color: var(--clr-body);
    }

    &.is-light {
      background-color: var(--clr-primary-50);
      @include display-flex(flex);
      @include justify-content-start;
      @include align-items-center;

      i {
        font-size: 1rem;
        color: var(--clr-primary-500);
        margin-right: 0.5rem;
      }
      &.is-after-icon{
          &::after {
            content: 'arrow_drop_down';
            font-family: 'Material Icons';
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));
            z-index: 2;
            right: .5rem;
            font-size: 1.2rem;
        }
      }

      &:hover {
        background-color: var(--clr-primary-500);
        color: var(--clr-white);

        i {
          color: var(--clr-white);
        }
      }
    }
  }

  &.is-option {
    // a {
    //     padding-right: 0;

    //     &:after {
    //         display: none;
    //     }
    // }
    a {
      &.circle-icon {
        padding-right: 0;

        &::after {
          display: none;
        }
      }
    }
  }

  ul {
    &.custom-dropdown-menu {
      position: absolute;
      top: 110%;
      min-width:max-content;
      background-color: var(--clr-white);
      @include radius(4px);
      z-index: 1012;
      display: none;
      margin-top: -5px;
      @include box-shadow(0 10px 40px rgba(0, 0, 0, 0.2));
      @include radius(5px);

      &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent var(--clr-white) transparent;
        position: absolute;
        left: 30px;
        top: -10px;
        @include box-shadow(0 10px 40px rgba(var(--clr-body), 0.2));
      }

      li {
        margin: 0;
        position: relative;

        a {
          padding: 0.5rem 1.125rem;
          color: var(--clr-body);
          @include transition(all 0.4s ease-in-out);
          @include display-flex(flex);
          @include justify-content-start;
          @include align-items-center;
          font-weight: 600;

          i,
          svg {
            margin-right: 0.6125rem;
            font-size: 1.125rem;
            color: var(--clr-body);

            img {
              max-width: 16px;
            }
          }

          &::after {
            content: none;
          }

          &:hover {
            background-color: var(--clr-primary-50);
          }
        }
        

        span {
          // padding:.5rem .6125rem;
          color: var(--clr-body);
          @include transition(all 0.4s ease-in-out);
          @include display-flex(flex);
          @include justify-content-start;
          @include align-items-center;
          font-weight: 600;

          i,
          svg {
            margin-right: 0.6125rem;
            font-size: 1rem;
            color: var(--clr-body);

            img {
              max-width: 16px;
            }
          }

          &::after {
            content: none;
          }

          &:hover {
            background-color: var(--clr-primary-50);
          }
        }

        &:not(:last-child) {
          border-bottom: 1px solid var(--clr-body-300);
        }
      }
    }
  }

  &.is-light {
    ul {
      &.custom-dropdown-menu {
        min-width: 180px;

        li {
          a {
            font-weight: 400;
            font-size: 0.8rem;
          }

          &.header {
            font-weight: 600;
            font-size: 0.875rem;
            padding: 0.35rem 0.6125rem;
            text-transform: capitalize;
            color: var(--clr-body);
          }
        }
      }
    }
  }

  &.is-right {
    ul {
      &.custom-dropdown-menu {
        right: 0;

        &::before,
        &::after {
          // right: 10px;
          right: 8px;
          left: auto;
        }
      }
    }
  }

  &.is-left {
    ul {
      &.custom-dropdown-menu {
        left: 0;

        &::before,
        &::after {
          right: 10px;
          left: auto;
        }
      }
    }
  }

  &.mlr-10 {
    margin: 0 10px;
  }
}
