.custom-select {
  position: relative;
  min-width: 70px;
  width: 100%;

  .search-bar {
    position: relative;
    max-width: 94%;
    margin: 0.6125rem auto;

    .search-wrap {
      max-width: 100%;

      .span-group {
        width: 40px;
      }
    }
  }

  p {
    display: inline-block;
    width: 100%;

    &.selected-item {
      border: 1px solid var(--clr-body-300);
      height: 2.6rem;
      line-height: 2.6rem;
      padding: 0 1.5rem 0 1rem;
      @include radius(5px);
      position: relative;
      cursor: pointer;
      color: var(--clr-body);
      background-color: var(--clr-white);
      @include line-clamp(1);
      @include display-flex(flex);
      @include justify-content-start;
      @include align-items-center;
      min-width: 120px;

      i {
        margin-right: 0.5rem;
        font-size: 1rem;
      }

      &::after {
        content: 'arrow_drop_down';
        font-family: 'Material Icons';
        position: absolute;
        right: 0.5rem;
        top: 0;
        font-size: 1.3rem;
        color: var(--clr-body);
        z-index: 99;
      }
    }
  }

  .select-list {
    max-width:max-content;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 1012;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    background-color: var(--clr-white);
    @include box-shadow(0 10px 40px rgba(0, 0, 0, 0.2));
    max-height: 220px;
    @include radius(5px);
    display: none;

    &::-webkit-scrollbar {
      width: 4px;
      background: var(--clr-body-300);
      @include radius(4px);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--clr-body-300);
      @include radius(4px);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(4px);
      background: $border-dark;
    }

    li {
      padding: 0.575rem 1.125rem;
      @include display-flex(flex);
      @include justify-content-start;
      @include align-items-center;
      cursor: pointer;
      @include transition(all 0.3s linear);
      border-bottom: 1px solid var(--clr-body-300);
      position: relative;
      color:var(--clr-body);
     

      i {
        font-size: 1.3rem;
        max-width: 18px;
        @include flex(0 0 24px);
        max-width: 24px;
        line-height: 1;
      }

      img {
        max-width: 14px;
      }
      &.is-selected {
        &::after {
          content: 'check';
          position: absolute;
          top: 50%;
          font-family: 'Material Icons';
          right: 1rem;
          z-index: 2;
          display: block;
          color: var(--clr-primary-500);
          @include transform(translateY(-50%));
          
        }
      }

      &:hover {
        background-color: var(--clr-primary-50);
      }
    }

    &.right-dropdown {
      right: 0;
    }

    &.left-dropdown {
      left: 0;
    }
  }

  &.is-bg {
    p {
      &.selected-item {
        border-color: var(--clr-primary-50);
        background-color: var(--clr-primary-50);
      }
    }
  }

  &.show-dropdown {
    p {
      &.selected-item {
        border-color: var(--clr-primary-500);
        color: var(--clr-primary-500);

        &::after {
          content: 'arrow_drop_up';
          font-family: 'Material Icons';
          float: right;
          font-size: 1.3rem;
          color: var(--clr-primary-500);
        }
      }
    }

    .select-list {
      display: block;
    }
  }

  &.is-disable {
    p {
      &.selected-item {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
