.upload {
  position: relative;
  padding: 2rem;
  border: 1px solid $border-color;
  @include radius(16px);
  @include display-flex(flex);
  @include justify-content-center;
  @include align-items-center;
  @include flex-direction-column(column);

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99;
  }

  label {
    // @include display-flex(flex);
    // @include justify-content-start;
    // @include align-items-center;
    display: initial;
    text-align: center;
    text-transform: capitalize;

    .upload-icon {
      margin-bottom: 1rem;
    }

    .upload-text {
      b {
        font-size: 0.875rem;
        font-weight: 600;
      }

      p {
        margin: 0;
        font-size: 0.775rem;
        color: $body-color;

        a {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }
  }
}

.attached {
  position: relative;
  width: 100%;

  h6 {
    text-transform: capitalize;
    margin-left: 0.5rem;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 99;
  }
}

.custom-upload {
  @include display-flex(flex);
  @include justify-content-start;
  @include align-items-center;
  position: relative;

  .img-holder {
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    width: 60px;
    height: 60px;
    border: 1px solid $border-color;
    @include radius(50%);
    padding: 5px;
    background-color: $primary-light;

    img {
      max-height: 45px;
      height: auto;
      width: auto;
      display: block;
    }
  }

  .custom-file {
    min-height: 83px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    padding: 1rem;
    text-align: center;

    input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }

    label {
      font-weight: 600;
    }
  }
}
