.search-bar {
  @include display-flex(flex);
  @include justify-content-end;
  @include align-items-center;

  .search-wrap {
    @include display-flex(flex);
    @include justify-content-between;
    border: 1px solid var(--clr-body-300);
    @include radius(5px);
    background-color: var(--clr-body-100);
    flex-grow: 1;
    max-width: 240px;
    &.nobg {
      background-color: initial;
    }
    &:focus-within{
      border-color: var(--clr-primary-500);
    }

    input {
      &.form-control {
        flex-grow: 1;
        height: calc(1.4rem + 0.75rem + 2px);
        border: none;
        display: initial;
        @include radius(5px);
        background-color: var(--clr-body-100);

        &:focus {
          background-color: var(--clr-body-100);
          
        }

        @include input-placeholder {
          color: var(--clr-body-600);
        }
      }
      &.nobg {
        background-color: initial;

        &:focus {
          background-color: initial;
        }
        
      }
    }

    span {
      padding: 0 0.5rem;
      text-align: center;
      @include display-flex(flex);
      @include justify-content-center;
      @include align-items-center;
      @include flex-direction-column(column);
      cursor: pointer;
      background-color: var(--clr-primary-500);
      margin:-1.2px -1.2px -1.2px 0  ;
      border-radius: 0 5px 5px 0;

      i {
        font-size: 1.2rem;
        color: var(--clr-white);
      }
    }
  }

  button {
    padding: 0;
    width: 40px;
    height: 37px;
    min-width: initial;
    border-color: $border-dark;
    @include radius(8px);
    margin-left: 0.6125rem;
    background-color: var(--clr-white);
    color: $secondary-color;
    margin-left: 1rem;

    &:focus,
    &:hover {
      background-color: $secondary-color;
      color: var(--clr-white);
      outline: none;
      -webkit-outline: none;
      box-shadow: none;
    }
  }

  a {
    &.toggle-icon {
      margin-left: 1rem;
      color: var(--clr-body);

      svg {
        font-size: 1.5rem;
      }
    }
  }

  &.is-full {
    .search-wrap {
      max-width: 100%;
    }
  }
}
