.switch-filter {
  @include display-flex(flex);
  @include align-items-center;
  @include justify-content-between;
  padding: 0.6125rem 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 24px;
  margin: 0;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-body-300);
    @include transition(0.4s ease-in-out);
    @include radius(16px);
    border: 1px solid var(--clr-body-300);

    &::before {
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      top: 2px;
      left: 2px;
      border-radius: 9px;
      box-shadow: 0 2px 4px #00230b33;
      border: 1px solid var(--clr-body-300);
      background-color: var(--clr-white);
      @include transition(0.2s ease-in-out);
    }

    .round {
      @include radius(34px);

      &::before {
        @include radius(50%);
      }
    }
  }

  input:checked + .slider {
    background-color: var(--clr-primary-500);
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
    background-color: var(--clr-white);
  }
}
