input,
textarea {
    font-size: .875rem;

    &.form-control {
        display: block;
        width: 100%;
        height: calc(1.9em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: $white-color;
        background-clip: padding-box;
        border: 1px solid $border-color;
        border-radius: .25rem;

        @include input-placeholder {
            color: $grey-light;
            font-size: .775rem;
            text-transform: capitalize;
        }

        &.is-valid {
            border-color: $primary-dark;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

            &:focus {
                border-color: $primary-dark;
                box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.25);
            }
        }

        &.is-invalid,
        &:invalid {
            border-color: $red-color;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

            &:focus {
                border-color: $red-color;
                box-shadow: 0 0 0 0.2rem rgba($red-color, 0.25);
            }
        }

        &:focus {
            box-shadow: none;
            outline: none;
            -webkit-outline: none;
            border-color: $primary-color;
            background-color: $white-color;
        }

    }

}

input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group {
    margin-bottom: 1.2rem;

    label {
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: .5rem;
        display: block;
        color: $body-color;
        font-size: .875rem;
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;

        i {
            margin-left: .5rem;
        }

        sup {
            color: $secondary-color;
        }
    }

    span {
        &.is-error {
            color: $red-color;
            margin-top: .5rem;
            display: none;
        }
    }
}

.input-in {
    padding: .5rem;
    @include radius(5px);
    background-color: $bg-color;

    &:focus-within {
        background-color: $primary-light;
    }
}

textarea {
    &.form-control {
        min-height: 100px;
    }
}

.custom-input-group {
    @include display-flex(flex);
    @include justify-content-between;
    border: 1px solid $border-color;
    @include radius(5px);
    @include align-items-center;
    background-color: $white-color;
    position: relative;
    height: calc(1.6em + 0.75rem + 2px);

    input {
        flex-grow: 1;
        border: none;
        display: initial;
        background-color: $white-color;
        width: 100%;
    }

    span {
        &.span-group {
            padding: 0 .5rem;
            padding-right: 0;
            text-align: center;
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            cursor: pointer;

            i {
                font-size: 1.3rem;
            }
        }

        &.start-date {
            padding-left: .5rem;
        }

        &.end-date {
            padding-left: .5rem;
        }
    }

    &.is-date {
        &::after {
            content: "arrow_drop_down";
            font-family: "Material Icons";
            position: absolute;
            right: 0;
            top: 50%;
            @include transform(translateY(-50%));
            font-size: 1.5rem;
            color: $heading-color;
            z-index: 99;
            pointer-events: none;
        }

        span {
            font-size: .775rem;

            &.span-group {
                i {
                    color: $primary-color;
                }
            }
        }
    }

    &.is-bg {
        background-color: transparent;
        border: 0;

        input {
            min-height: calc(2.5rem + .75rem + 2px);
        }

        span {
            &.span-group {
                padding: 0 1rem;
                background-color: $heading-color;
                color: $white-color;
            }
        }
    }
}

.date-range {
    @include display-flex(flex);
    @include justify-content-between;
    @include radius(5px);
    @include align-items-stretch;
    background-color: $white-color;

    .custom-input-group {
        border: none;
        border-radius: none;
        border-right: 1px solid $border-color;

        input {
            min-width: auto;
            padding-left: .5rem;
        }

    }
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.custom-select.is-valid,
.was-validated .custom-select:valid {
    border-color: $primary-dark;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") $white-color no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}


.custom-select.is-invalid,
.was-validated .custom-select:invalid {
    border-color: $red-color;
    padding-right: calc(0.75em + 2.3125rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px,
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") $white-color no-repeat center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}