.search-bar {
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;

    .search-wrap {
        @include display-flex(flex);
        @include justify-content-between;
        border: 1px solid $border-color;
        @include radius(5px);
        @include align-items-stretch;
        background-color: $bg-color;
        flex-grow: 1;
        max-width: 240px;

        input {
            &.form-control {
                flex-grow: 1;
                height: calc(1.4rem + .75rem + 2px);
                border: none;
                display: initial;
                @include radius(5px);
                background-color: $bg-color;

                &:focus {
                    background-color: $bg-color;
                }

                @include input-placeholder {
                    color: var(--clr-body);
                }
            }
        }

        span {
            padding: 0 .5rem;
            padding-right: 0;
            text-align: center;
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            cursor: pointer;

            i {
                font-size: 1.5rem;
                color: $primary-dark;
            }
        }
    }

    button {
        padding: 0;
        width: 40px;
        height: 37px;
        min-width: initial;
        border-color: $border-dark;
        @include radius(8px);
        margin-left: .6125rem;
        background-color: $white-color;
        color: $secondary-color;
        margin-left: 1rem;

        &:focus,
        &:hover {
            background-color: $secondary-color;
            color: $white-color;
            outline: none;
            -webkit-outline: none;
            box-shadow: none;
        }
    }

    a {
        &.toggle-icon {
            margin-left: 1rem;
            color: var(--clr-body);

            svg {
                font-size: 1.5rem;
            }
        }
    }

    &.is-full {
        .search-wrap {
            max-width: 100%;
        }
    }
}