.breadcrumb {
    padding:.5rem 1.5rem;
    background-color: var(--clr-white);
    border-bottom: 1px solid var(--clr-body-300);
    ol {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        margin: 0;
        li {
            font-weight: 600;
            text-transform: capitalize;
            @include display-flex(flex);
            @include align-items-center;
            color: var(--clr-body);
            font-size: var(--fs-md);
            a {
                color: var(--clr-body-600);
                font-weight: 400;
                
                &:hover {
                    color: var(--clr-primary-500);
                    text-decoration: underline;
                }
            }
            &:not(:last-child) {
                &::after {
                    color: var(--clr-body-600);
                    content: 'chevron_right';
                    font-family: 'Material Icons';
                    display: inline-flex;
                    margin: 0 0.6125rem;
                    text-transform: initial;
                    font-size: 1.2rem;
                    font-weight: 400;
                    line-height: 1;
                }
            }
        }
    }
}