.acc {
    .acc-list {
        .acc-header {
            position: relative;
            padding: 0.775rem 0;
            @include transition(all 0.5s ease-in-out);
            @include display-flex(flex);
            @include align-items-center;
            cursor: pointer;
            .acc-header-content {
                width: 100%;
                .add-more {
                    width: 24px;
                    height: 24px;
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include flex-direction-column(column);
                    @include transition(all .4s ease-in-out);
                    @include radius(100%);
                    i {
                        color: var(--clr-body-600);
                        font-size: 1.1rem;
                    }
                    &:hover {
                        background-color: var(--clr-white);
                        @include box-shadow(0 1px 3px rgba(var(--clr-body), .1));
                        i {
                            color: var(--clr-primary-500);
                        }
                    }
                }
            }
            h5 {
                font-size: 0.8125rem;
            }
            &::after,
            &::before {
                font-size: 1.4rem;
                font-family: 'Material Icons';
                color: var(--clr-body);
                z-index: 99;
                line-height: 1;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                @include radius(100%);
            }
            .custom-checkbox {
                margin: 0;
                label {
                    font-size: 0.875rem;
                    font-weight: 600;
                }
            }
        }
        .acc-body {
            display: none;
            padding: 0.5rem 0;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            max-height: 500px;
            &::-webkit-scrollbar {
                width: 4px;
                background: var(--clr-body-300);
                @include radius(4px);
            }
            &::-webkit-scrollbar-track {
                background-color: var(--clr-body-300);
                @include radius(4px);
            }
            &::-webkit-scrollbar-thumb {
                @include radius(4px);
                background: $border-dark;
            }
            ul {
                li {
                    h6 {
                        a {
                            font-weight: 600;
                        }
                    }
                }
                &.checkbox-list {
                    li {
                        a {
                            @include display-flex(flex);
                            @include justify-content-between;
                            @include align-items-center;
                            font-weight: 500;
                            color: var(--clr-body);
                            padding: 0.35rem 0.6125rem;
                            &:hover {
                                background-color: $secondary-light;
                            }
                            .custom-checkbox {
                                margin: 0;
                                label {
                                    font-size: 0.75rem;
                                    @include display-flex(flex);
                                    @include justify-content-start;
                                    @include align-items-center;
                                    font-weight: 400;
                                    i {
                                        font-size: 1.2rem;
                                        margin-right: 0.5rem;
                                    }
                                    @media screen and (max-width: 1366px) {
                                        font-size: 0.775rem;
                                        i {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }
                            span {
                                &.counter {
                                    color: var(--clr-body);
                                }
                            }
                        }
                    }
                }
                &.list {
                    li {
                        background-color: var(--clr-white);
                        @include radius(5px);
                        @include transition(all 0.5s ease-in-out);
                        &:hover,
                        &.active {
                            background-color: var(--clr-primary-50);
                            cursor: pointer;
                        }
                    }
                    &.is-after {
                        li {
                            position: relative;
                        }
                        &.is-check {
                            li {
                                &.is-active {
                                    background-color: var(--clr-primary-50);
                                    a {
                                        color: var(--clr-body);
                                    }
                                }
                            }
                        }
                    }
                    ul {
                        li {
                            padding-left: 3.5rem;
                            
                        }
                        &.custom-dropdown-menu{
                            li{
                                padding-left: 1.125rem;
                            }
                        }
                    }
                }
            }
        }
        &.is-bg {
            background-color: var(--clr-body-100);
            @include radius(5px);
            .acc-header {
                padding: 0.6125rem;
            }
            .acc-body {
                padding: 0 0.6125rem 0.6125rem 0.6125rem;
                &.is-bg {
                    background-color: var(--clr-white);
                    border: 1px solid var(--clr-body-300);
                    @include radius(5px);
                    padding-top: 10px;
                }
            }
        }
        &.active {
            .acc-header {
                h5 {
                    color: var(--clr-primary-500);
                }
            }
            .acc-body {
                display: block;
            }
        }
    }
    &.is-start {
        @include justify-content-start;
    }
    &.is-end {
        @include justify-content-end;
    }
    &.is-between {
        @include justify-content-between;
    }
    &.is-before {
        .acc-list {
            .acc-header {
                &::before {
                    content: 'arrow_drop_down';
                    margin-right: 0.5rem;
                }
            }
            &.active {
                .acc-header {
                    &::before {
                        content: 'arrow_drop_up';
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
    &.is-after {
        .acc-list {
            .acc-header {
                &::after {
                    @include flex(0 0 24px);
                    max-width: 224px;
                    content: 'expand_more';
                    width: 24px;
                    height: 24px;
                    border: 1px solid var(--clr-body-300);
                    margin-left: 0.6125rem;
                    font-size: 1rem;
                }
            }
            &.active {
                .acc-header {
                    &::after {
                        content: 'expand_less';
                        background-color: var(--clr-primary-50);
                        border-color: var(--clr-primary-500);
                    }
                }
            }
        }
    }
    &.profile-acc {
        margin-bottom: 1rem;
        width: 100%;
        .acc-list {
            .org-details {
                @include display-flex(flex);
                @include justify-content-between;
                @include align-items-center;
                flex-grow: 1;
            }
            .org {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                flex-grow: 1;
                figure {
                    @include flex(0 0 40px);
                    max-width: 40px;
                    margin: 0;
                    img {
                        max-width: 28px;
                        height: 28px;
                        width: 100%;
                        @include radius(100%);
                        border: 1px solid var(--clr-body-300);
                    }
                }
                .org-text {
                    h5 {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 0.8125rem;
                        @media #{$breakpoint-md-desktop} {
                            font-size: 0.775rem;
                        }
                    }
                }
            }
            .org-links {
                display: inline-flex;
                i {
                    color: var(--clr-body-500);
                    font-size: 1.1rem;
                }
            }
            .acc-body {
                ul {
                    &.list {
                        li {
                            @include align-items-center;
                            .org {
                                .org-text {
                                    h5 {
                                        font-weight: 400;
                                        text-transform: capitalize;
                                        font-size: 0.8125rem;
                                    }
                                }
                            }
                            .org-links {
                                i {
                                    font-size: 1rem;
                                }
                            }
                            &.is-active,&:hover{
                                .org-links {
                                    i {
                                        color:var(--clr-primary-500);
                                    }
                                } 
                            }
                        }
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 0.6125rem;
            }
            &.active {
                .org {
                    .org-text {
                        h5 {
                            color: var(--clr-body);
                        }
                    }
                }
            }
        }
    }
    &.acc-casedetail {
        margin-bottom: 0;
    }
    &.is-border {
        border: 1px solid var(--clr-body-300);
        @include radius(4px);
        .acc-list {
            .acc-header {
                border-bottom: 1px solid var(--clr-body-300);
                padding: 0.5rem 0.6125rem;
            }
            .acc-body {
                padding: 0;
                ul {
                    li {
                        padding-left: 2.5rem;
                        a {
                            text-transform: capitalize;
                        }
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--clr-body-300);
            }
        }
    }
}

.submission-details {
    .acc-header {
        background: white;
    }
    .acc-body {
        background: white;
    }
}