.zite-card {
    position: relative;
    @include display-flex(flex);
    @include flex-direction-column(column);
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--clr-white);
    background-clip: border-box;
    @include box-shadow(0 0 40px $shadow-color);
    @include radius(5px);
    .card-footer {
        padding: 1rem;
        padding-top: 0;
    }
    .zite-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
        @media #{$breakpoint-desktop} {
            padding: 0.775rem;
        }
        &.pd-0 {
            padding: 0;
        }
    }
    &.no-boxshadow {
        box-shadow: none;
    }
    &.assign-card {
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 600px;
        background-color: var(--clr-white);
        z-index: 2;
    }
}

.card-header,
.card-footer {
    @include display-flex(flex);
    @include align-items-center;
    padding: 1rem;
    padding-bottom: 0;
    width: 100%;
    position: relative;
    &.is-start {
        @include justify-content-start;
        h5 {
            flex-grow: initial;
        }
    }
    &.is-center {
        @include justify-content-center;
        h6 {
            @include justify-content-center;
            @include align-items-center;
        }
    }
    &.is-end {
        @include justify-content-end;
    }
    &.is-between {
        @include justify-content-between;
    }
    &.is-clear {
        border: 0;
        background-color: transparent;
    }
    &.pd-0 {
        padding: 0;
    }
    h6 {
        flex-grow: 1;
        margin: 0;
        text-transform: uppercase;
        span {
            text-transform: capitalize;
            font-weight: 500;
        }
    }
    .selected-counter {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        border: 1px solid var(--clr-primary-500);
        background-color: var(--clr-primary-50);
        color: var(--clr-primary-500);
        font-size: var(--fs-md);
        @include radius(24px);
        padding: .15rem 0.5rem;
        margin-left: 0.6125rem;
        i {
            font-size: 1rem;
            line-height: 1;
        }
        span {
            padding: 0 0.25rem;
        }
        &.no-border {
            border-color: transparent;
            font-weight: 300;
        }
    }
    .custom-select {
        max-width: 140px;
        margin-left: 0.6125rem;
        p {
            height: 2.5rem;
            line-height: 2.5rem;
            span {
                @include trim(1);
            }
        }
    }
    button {
        &.common-button {
            @include radius(5px);
            min-width: initial;
            &.is-bg {
                background-color: var(--clr-primary-50);
                color: var(--clr-body);
                box-shadow: none;
                i {
                    color: var(--clr-primary-500);
                }
            }
            &.is-small {
                // width: 10px;
                font-size: 0.7rem;
                padding: 5px;
            }
            &.is-dark {
                background-color: var(--clr-primary-500);
                color: white;
            }
        }
    }
    @media #{$breakpoint-desktop} {
        padding-top: 0.775rem;
    }
    @media #{$breakpoint-xs} {
        @include flex-wrap(wrap);
        @include justify-content-start;
    }
    &.no-flex{
        display:block;
    }
}

.assign-new {
    .zite-card {
        &.assign-card {
            .custom-select {
                max-width: 100%;
            }
        }
    }
}

.is-overflow {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    // max-height: calc(100vh - 250px);
    // height: 100vh;
    height: 100%;
    &::-webkit-scrollbar {
        width: 4px;
        height: 8px;
        background: var(--clr-body-300);
        @include radius(4px);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--clr-body-300);
        @include radius(4px);
    }
    &::-webkit-scrollbar-thumb {
        @include radius(4px);
        background: $border-dark;
    }
}