.filter {
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;
}

.filter-content {
    flex-grow: 1;
    display: none;
    .filter-row {
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
        &.is-wrap {
            @include flex-wrap(wrap);
        }
        &.is-start {
            @include justify-content-start;
        }
    }
    .form-group {
        margin: 0 10px 0 0;
        max-width: 160px;
        input {
            &.form-control {
                height: calc(1.5em + 0.75rem + 2px);
                @include input-placeholder {
                    color: $border-color;
                    font-size: 0.775rem;
                    text-transform: capitalize;
                }
            }
        }
    }
    .custom-select {
        p {
            display: block;
            min-width: 160px;
            &.selected-item {
                border: 1px solid $border-color;
                height: 2.3rem;
                line-height: 2.3rem;
            }
        }
    }
    &.project-summary-filter {
        background-color: $white-color;
        @include box-shadow(0 0 50px rgba($body-color, .5));
        padding: 2rem;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
        top: 110%;
        .form-group {
            min-width: 180px;
            margin-bottom: .5rem;
        }
        .arrow-up {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #ffffff transparent;
            position: absolute;
            top: -10px;
            -webkit-box-shadow: 0 10px 40px rgb(51 51 51 / 20%);
            box-shadow: 0 10px 40px rgb(51 51 51 / 20%);
            right: 30px;
        }
    }
}