.popup,
.window-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  @include display-flex(flex);
  @include justify-content-center;
  @include align-items-center;
  width: 100%;
  height: 100%;
  z-index: 7;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.5s ease-in-out);

  .popup-container {
    @include display-flex(flex);
    @include flex-direction-row(row);
    @include justify-content-around;
    margin: 2rem;

    .popup-body {
      max-width: 768px;
      width: 100%;
      min-width: 768px;
      max-height: calc(100vh - 32px);
      @include radius(10px);
      box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
      @include display-flex(flex);
      @include flex-direction-column(column);
      flex-grow: 0;
      flex-shrink: 0;
      background-color: $white-color;
      position: relative;
      @include transform(scale(0));
      @include transition(all 0.9s ease-in-out);

      &.is-wide {
        max-width: 1000px;
      }

      @media #{$breakpoint-desktop} {
        max-width: 576px;
        min-width: 576px;
      }

      @media #{$breakpoint-sm} {
        max-width: 360px;
        min-width: 360px;
      }

      @media #{$breakpoint-xs} {
        max-width: 280px;
        min-width: 280px;
      }

      form {
        max-height: inherit;
        @include display-flex(flex);
        @include flex-direction-column(column);
      }

      span {
        &.close-icon {
          &:hover {
            color: $red-color;
            border-color: $red-color;
          }
        }
      }

      .next-prev {
        position: absolute;
        left: -25px;
        right: -25px;
        top: 50%;
        @include transform(translateY(-50%));
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
        z-index: 999;

        span {
          width: 40px;
          height: 40px;
          background-color: $primary-light;
          @include radius(5px);
          text-align: center;
          @include display-flex(flex);
          @include justify-content-center;
          @include align-items-center;
          @include flex-direction-column(column);
          cursor: pointer;
          @include transition(all 0.5s ease-in-out);

          &.next {
            @include transform(rotate(180deg));
          }

          &:hover {
            background-color: $primary-color;
            color: $white-color;
          }
        }
      }

      .popup-header {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
        flex-shrink: 0;
        margin: 0;
        padding: 0 1.2rem;
        padding-top: 1.2rem;

        // border-bottom: 1px solid $border-color;
        h3 {
          font-size: 1rem;
          font-weight: 600;
          text-transform: capitalize;
        }

        &.no-flex {
          display: initial;
        }
      }

      .popup-content {
        -webkit-box-flex: 1;
        flex-grow: 1;
        margin: 0;
        padding: 1rem;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        // max-height: calc(100vh - 250px);
        // height: 100vh;
        @media #{$breakpoint-ls} {
          padding: 1rem;
        }

        &::-webkit-scrollbar {
          width: 4px;
          background: $border-color;
          @include radius(4px);
        }

        &::-webkit-scrollbar-track {
          background-color: $border-color;
          @include radius(4px);
        }

        &::-webkit-scrollbar-thumb {
          @include radius(4px);
          background: $border-dark;
        }

        &.is-center {
          text-align: center;
        }

        .custom-tab {
          .tab-list {
            li {
              a {
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .popup-footer {
        @include display-flex(flex);
        position: relative;
        flex-shrink: 0;
        @include flex-wrap(wrap);
        @include justify-content-center;
        @include align-items-center;
        min-height: 50px;
        margin: 0;
        padding: 1rem 1rem 2rem 1rem;
        // border-top: 1px solid $border-color;
      }
    }

    &.sm-popup {
      .popup-body {
        max-width: 576px;
        min-width: 576px;

        @media #{$breakpoint-desktop} {
          max-width: 480px;
          min-width: 480px;
        }

        @media #{$breakpoint-sm} {
          max-width: 300px;
          min-width: 300px;
        }

        @media #{$breakpoint-xs} {
          max-width: 280px;
          min-width: 280px;
        }
      }
    }

    &.lg-popup {
      .popup-body {
        position: relative;
        max-width: 991px;
        width: 100%;
        min-width: 991px;

        span {
          &.close-icon {
            right: 2rem;
            top: 2rem;
          }
        }

        @media #{$breakpoint-ls} {
          max-width: 768px;
          min-width: 768px;
          padding: 1.5rem;

          span {
            &.close-icon {
              right: 1.5rem;
              top: 1.5rem;
            }
          }
        }

        @media #{$breakpoint-pt} {
          max-width: 576px;
          min-width: 576px;
          padding: 1rem;

          span {
            &.close-icon {
              right: 1rem;
              top: 1rem;
            }
          }
        }

        @media #{$breakpoint-sm} {
          max-width: 360px;
          min-width: 360px;
        }

        @media #{$breakpoint-xs} {
          max-width: 300px;
          min-width: 300px;
        }
      }
    }

    &.xl-popup {
      .popup-body {
        position: relative;
        max-width: 1200px;
        width: 100%;
        min-width: 1200px;

        span {
          &.close-icon {
            right: 2rem;
            top: 2rem;
          }
        }

        @media #{$breakpoint-desktop} {
          max-width: 991px;
          min-width: 991px;
          padding: 1.5rem;

          span {
            &.close-icon {
              right: 1.5rem;
              top: 1.5rem;
            }
          }
        }

        @media #{$breakpoint-ls} {
          max-width: 768px;
          min-width: 768px;
          padding: 1rem;

          span {
            &.close-icon {
              right: 1rem;
              top: 1rem;
            }
          }
        }

        @media #{$breakpoint-pt} {
          max-width: 576px;
          min-width: 576px;
          padding: 1rem;

          span {
            &.close-icon {
              right: 1rem;
              top: 1rem;
            }
          }
        }

        @media #{$breakpoint-sm} {
          max-width: 360px;
          min-width: 360px;
        }

        @media #{$breakpoint-xs} {
          max-width: 300px;
          min-width: 300px;
        }
      }
    }
  }

  &.is-open {
    z-index: 1013;
    opacity: 1;
    visibility: visible;

    .popup-container {
      .popup-body {
        @include transform(scale(1));
        filter: alpha(opacity=100);
      }
    }
  }
}
