.custom-tab {
  .custom-tab-content {
    padding: 0.6125rem;
    .tab-item {
      display: none;
      &.current {
        display: block;
      }
    }
  }
}
.tab-list {
  @include display-flex(flex);
  @include justify-content-start;
  @include align-items-center;
  @include flex-wrap(wrap);
  margin: 0;
  li {
    a {
      display: block;
      text-transform: uppercase;
      padding: 0.5rem;
      color: var(--clr-body);
      font-weight: 600;
      position: relative;
      @include transition(all 0.5s linear);
      border: 1px solid transparent;
      color: var(--clr-body-500);
      cursor: pointer;
      span {
        &.counter {
          padding: 0 6px;
          @include radius(50%);
          background-color: var(--clr-primary-500);
          color: var(--clr-white);
          font-weight: 500;
          margin-left: 0.5rem;
        }
      }
      @media #{$breakpoint-desktop} {
        font-size: 0.775rem;
      }
    }
    &:not(:last-child) {
      margin-right: 0.6125rem;
      @media #{$breakpoint-desktop} {
        margin-right: 0.5rem;
      }
    }
  }
  &.is-bg {
    li {
      a {
        background-color: var(--clr-white);
        @include radius(5px);
        &.current,
        &:hover {
          color: var(--clr-white);
          background-color: var(--clr-primary-500);
        }
      }
    }
  }
  &.is-border {
    li {
      a {
        &::after {
          content: '';
          position: absolute;
          width: 0;
          left: 0;
          bottom: 0;
          height: 3px;
          background-color: var(--clr-primary-500);
          @include transition(width 0.3s linear);
          opacity: 0;
          visibility: hidden;
        }
      }
      &.current {
        a {
          color: var(--clr-body);
          &::after {
            width: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &:hover {
        a {
          color: var(--clr-body);
        }
      }
    }
  }
  &.is-full-border {
    @include radius(5px);
    li {
      @include transition(all 0.5s ease-in-out);
      border: 1px solid var(--clr-body-300);
      text-align: center;
      &:not(:last-child) {
        margin-right: 0;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:hover,
      &.active {
        background-color: var(--clr-primary-50);
        border-color: var(--clr-primary-500);
        color: var(--clr-primary-500);
      }
    }
    &.is-3 {
      li {
        @include flex(0 0 33.33333%);
        max-width: 33.33333%;
      }
    }
    &.is-4 {
      li {
        @include flex(0 0 25%);
        max-width: 25%;
      }
    }
  }
}
