.comment-content a {
	word-wrap: break-word;
}

#respond {
	clear: both;
	display: block;
	background:$bg-color;
	padding: 40px;
	.comment-reply-title{
		a{
			color:$body-color;
		}
	}
	.comment-notes {
		position: relative;
	}
}

#comments {
	margin-top: 20px;
	#comment-form-title {
		font-size: 24px;
		padding-bottom: 10px;
	}
	.comments-title {
		padding: 0 0 30px;
		clear: both;
		border-bottom: 1px solid $border-color;
		font-size: 20px;
		margin:0;
	}
	ol{
		&.comment-list{
			border-radius: 5px;
			float: left;
			margin-bottom: 15px;
			margin-left: 0;
			margin-right: 0;
			overflow: inherit;
			padding: 0;
			width: 100%;
			li{
				padding-left: 0;
				list-style: outside none none;
				margin-bottom: 15px;
				
				&.comment{
					display: block;
					float: left;
					width: 100%;
					background-color: $bg-color;

					&::after{
						content: inherit;
						display: none;
					}
					.comment-body {
						border-radius: 0;
						clear: both;
						display: block;
						float: left;
						padding: 15px;
						position: relative;
						text-align: left;
						width: 100%;
						border-bottom: 1px solid $border-color;
						.comment-meta{
							.comment-author{
								&.vcard{
									font-size: 20px;
									margin-bottom: 5px;
								}
								
								a{
									color:$body-color;
								}
							}
							
						}
						.comment-metadata {
							font-size: 14px;
							line-height: 16px;
							margin-bottom: 10px;
							a {
								color: #ada9a9;
								margin-right: 30px;
								&::before {
									content: "\f274";
									font-family: 'Font Awesome 5 Free';
									margin-right: 5px;
									font-size: 14px;
								}
							}
						}
						.avatar {
							float: left;
							margin-right: 35px;
							margin-bottom: 0;
							margin-top: 10px;
						}
						
						.authorbox {
							overflow: hidden;
							padding: 0 0 70px;
							border-bottom: 1px solid #f7f7f7;
							h4.author-header {
								margin-bottom: 5px;
							}
							
						}
						.reply {
							float: right;
							font-size: 16px;
							a.comment-reply-link{
								color:$body-color;
								&:before {
									content: "\f3e5";
									font-family: 'Font Awesome 5 Free';
									margin-right: 7px;
									font-size: 14px;
									font-weight: 900;
								}
								&:hover{
									color:$secondary-color;
								}
							}
						}
						.author-avatar {
							float: left;
							margin-right: 35px;
						}
						.author-avatar img, .vcard .avatar {
							max-width: 100px;
						}
					}
				}
			}
			.children{
				border: medium none;
				float: left;
				margin: 0;
				width: 100%;
				padding-left: 40px;
			}
		}
	}
	
}


#tab-reviews .comment-form-author,
#tab-reviews .comment-form-email,
#tab-reviews .comment-form-url{
	width: 100%;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input{
	width: 100%;
}

.form-allowed-tags code {
	white-space: inherit;
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment p {
	font-size: 14px;
}

#commentform label {
	display: inline-block;
	position: relative;
	margin-bottom:.6125rem;
}

#commentform input[type="checkbox"],
#commentform input[type="radio"] {
	margin-right: 10px;
}

#commentform  p.form-submit {
	margin-top: 30px;
	input[type="submit"]{
		background-color:$secondary-color;
		padding:15px;
		color:$white-color;
		font-size: 1rem;
	&:hover{
		background-color:$secondary-color;
	}
	}
}

#commentform  span.required {
	color: $secondary-color;
}


