@import 'login';
@import 'home';
@import 'manage-user';
@import 'manage-region';
@import 'data-structure';
@import 'project-summary';
@import 'error';
@import 'sections/section';
@import 'submission';
.page-header {
    margin-bottom: 1rem;
    h5{
        text-transform: capitalize;
    }
    
    &.is-center {
        text-align: center;
    }
}