.top-header {
    padding: 1.5rem 0;

    .top-header-in {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;

        .site-branding {
            .site-title {
                font-size: 4rem;
                margin: 0;
                text-transform: capitalize;
            }

            p {
                color: $secondary-color;
                margin: 0;
                font-size: 0.775rem;
                text-transform: capitalize;
            }
        }

        .custom-logo-link {
            text-align: center;
            max-width: 300px;
            display: inline-block;
            margin: 0 auto;

            @media #{$breakpoint-md} {
                max-width: 150px;
            }

        }

        button {
            &.is-border {
                @include display-flex(flex);
                @include justify-content-between;
                @include align-items-center;
                color: $body-color;
                @include radius(24px);
            }
        }

        ul {
            &.social-list {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;

                li {
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    font-weight: 500;

                    a {
                        font-size: .775rem;
                        color: $body-color;
                        width: 40px;
                        height: 40px;
                        @include radius(50%);
                        @include display-flex(flex);
                        @include justify-content-center;
                        @include align-items-center;
                        @include flex-direction-column(column);
                        background-color: $white-color;
                        @include transition(all .5s ease-in-out);
                        border: 1.5px solid $border-color;

                        &:hover {
                            background-color: $secondary-color;

                            svg {
                                color: $white-color;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }

        }
    }

    .suscribe-header {
        position: relative;

        .suscribe-wrap {
            display: none;
            position: absolute;
            right: 0;
            top: 110%;
        }

        form {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            background-color: $white-color;
            padding: 5px;
            @include radius(5px);
            min-width: 250px;
            @include box-shadow(0 1px 6px $border-color);

        }

        p {
            margin: 0;

            &.email {
                flex-grow: 1;
            }

            input[type="email"] {
                height: 36px;
                padding: 0 10px;
                color: #000;
                background: $white-color;
                border: 0;
                width: 100%;
                font-size: .775rem;

                @include input-placeholder {
                    color: $body-color;
                    font-size: .775rem;
                    text-transform: capitalize;
                }
            }

            &.submit {
                margin-left: .6125rem;

                input[type="submit"] {
                    background-color: $secondary-color;
                    font-size: .775rem;
                    line-height: 1.5;
                    padding: 5px 10px;
                    height: 36px;
                    @include radius(5px);
                }
            }
        }
    }
    @media #{$breakpoint-md} {
        .top-header-in {
            @include flex-wrap(wrap);
    
            ul.social-list,
            .suscribe-header {
                @include flex(0 0 50%);
                max-width: 50%;
            }
    
            .site-branding {
                @include flex(0 0 100%);
                max-width: 100%;
                text-align: center;
                @include order(0);
                margin-bottom: 1rem;
            }
    
            ul {
                &.social-list {
                    @include order(1);
    
                    li {
                        @include display-flex(flex);
                        @include justify-content-start;
                        @include align-items-center;
                        font-weight: 500;
    
                        a {
                            width: 30px;
                            height: 30px;
                            border: 1px solid $border-color;
                        }
    
                        &:not(:last-child) {
                            margin-right: .5rem;
                        }
                    }
                }
            }
    
            .suscribe-header {
                @include order(2);
                @include display-flex(flex);
                @include justify-content-end;
    
                button {
                    min-width: initial;
                    padding: .5rem 1rem;
                    svg{
                        margin-left:10px;
                    }
                }
            }
        }
    
    }
}

