.acc {
    .acc-list {
        .acc-header {
            position: relative;
            padding: 0.775rem 0;
            @include transition(all .5s ease-in-out);
            @include display-flex(flex);
            @include align-items-center;
            cursor: pointer;
            
            &::after,&::before {
                font-size: 1.4rem;
                font-family: 'Material Icons';
                color: $body-color;
                z-index: 99;
                line-height: 1;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                
                @include radius(100%);
                
            }

            
            .custom-checkbox {
                margin: 0;

                label {
                    font-size: .875rem;
                    font-weight: 600;
                }
            }
        }

        .acc-body {
            display: none;
            padding: .5rem 0;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            max-height: 500px;


            &::-webkit-scrollbar {
                width: 4px;
                background: $border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-track {
                background-color: $border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-thumb {
                @include radius(4px);
                background: $border-dark;
            }

            ul {
                
                &.checkbox-list {
                    li {
                        a {
                            @include display-flex(flex);
                            @include justify-content-between;
                            @include align-items-center;
                            font-weight: 500;
                            color: $body-color;
                            padding: .35rem .6125rem;

                            &:hover {
                                background-color: $secondary-light;
                            }

                            .custom-checkbox {
                                margin: 0;

                                label {
                                    font-size: .75rem;
                                    @include display-flex(flex);
                                    @include justify-content-start;
                                    @include align-items-center;
                                    font-weight: 400;

                                    i {
                                        font-size: 1.2rem;
                                        margin-right: .5rem;
                                    }

                                    @media screen and (max-width:1366px) {
                                        font-size: .775rem;

                                        i {
                                            font-size: 1rem;
                                        }
                                    }
                                }
                            }

                            span {
                                &.counter {
                                    color: $body-color;
                                }
                            }
                        }
                    }
                }
                &.list{
                    li{
                        background-color: $white-color;
                        @include radius(5px);
                        @include transition(all .5s ease-in-out);
                        &:hover{
                            background-color: $primary-light;
                        }
                    }
                }
            }
        }
        &.is-bg{
            background-color: $bg-color;
            @include radius(5px);
            .acc-header{
                padding:.6125rem;
            }
            .acc-body{
                padding:0 .6125rem .6125rem .6125rem;
            }
        }
        &.active {
            .acc-header{
                h5 {
                    color: $primary-color;
                }
            }
            .acc-body{
                display: block;
            }
        }
        
    }
    &.is-start{
        @include justify-content-start;
    }
    &.is-end{
        @include justify-content-end;
    }
    &.is-between{
        @include justify-content-between;
    }
    &.is-before{
        .acc-list{
            .acc-hader{
                &::before {
                    content: 'arrow_drop_down';
                    margin-right: .5rem;
                }
            }
            &.active{
                .acc-header{
                    &::before{
                        content: 'arrow_drop_up';
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    &.is-after{
        .acc-list{
            .acc-header{
                &::after {
                    content: 'expand_more';
                    width:32px;
                    height: 32px;
                    border:1px solid $border-color;
                    margin-left: .6125rem;
                }
            }
            &.active {
                .acc-header{
        
                    &::after {
                        content: 'expand_less';
                        background-color:$primary-light;
                        border-color: $primary-color;
                    }
                }
    
            }
        }
    }

    &.profile-acc {
        margin-bottom: 1rem;
        .acc-list {
            .org-details {
                @include display-flex(flex);
                @include justify-content-between;
                @include align-items-center;
                flex-grow: 1;
            }
            .org {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                flex-grow: 1;

                figure {
                    @include flex(0 0 40px);
                    max-width: 40px;
                    margin: 0;
                    img {
                        max-width: 28px;
                        height: 28px;
                        width: 100%;
                        @include radius(100%);
                    }
                }

                .org-text {
                    h5 {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: .875rem;
                        @media #{$breakpoint-desktop}{
                            font-size: .775rem;
                        }
                    }
                }
            }

            .org-links {
                i {
                    color: $body-color;
                    font-size: 1.25rem;
                    @media #{$breakpoint-desktop}{
                        font-size: 1.125rem;
                    }
                }
            }
            .acc-body{
                ul{
                    &.list{
                        li{
                            @include align-items-center;
                            .org{
                                .org-text{
                                    h5{
                                        font-weight: 500;
                                        text-transform: capitalize;
                                        
                                    }
                                }
                            }
                            .org-links{
                                i{
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            &:not(:last-child){
                margin-bottom: .6125rem;
            }
        }
        
    }
    &.is-border{
        border:1px solid $border-color;
        @include radius(4px);
        .acc-list{
            
            .acc-header{
                border-bottom: 1px solid $border-color;
                padding:.5rem .6125rem;
            }
            .acc-body{
                padding:0;
                ul{
                    li{
                        padding-left: 2.2rem;
                        a{
                            text-transform: capitalize;
                        }
                    }
                }
            }
            &:not(:last-child){
                border-bottom: 1px solid $border-color;
            }
        }
    }
}