.alignleft {
  /*rtl:ignore*/
  float: left;

  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;

  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  margin-bottom: 1.5em;
}

$paddingTop:(
  pt:(
    4:.25rem,
    8:.5rem,
    12:.75rem,
    16:1rem,
    20:1.25rem,
    24:1.5rem,
    28:1.75rem,
    32:2rem,
    36:2.25rem,
    40:2.5rem,
    44:2.75rem,
    48:3rem,
    52:3.25rem,
    56:3.5rem,
    60:3.75rem,
    64:4rem,
  )
);

// $paddings:(
//   pt:(
//     4:.25rem,
//     8:.5rem,
//     12:.75rem,
//     16:1rem,
//     20:1.25rem,
//     24:1.5rem,
//     28:1.75rem,
//     32:2rem,
//     36:2.25rem,
//     40:2.5rem,
//     44:2.75rem,
//     48:3rem,
//     52:3.25rem,
//     56:3.5rem,
//     60:3.75rem,
//     64:4rem,
//   ),
//   pb:(
//     4:.25rem,
//     8:.5rem,
//     12:.75rem,
//     16:1rem,
//     20:1.25rem,
//     24:1.5rem,
//     28:1.75rem,
//     32:2rem,
//     36:2.25rem,
//     40:2.5rem,
//     44:2.75rem,
//     48:3rem,
//     52:3.25rem,
//     56:3.5rem,
//     60:3.75rem,
//     64:4rem,
//   ),
//   pl:(
//     4:.25rem,
//     8:.5rem,
//     12:.75rem,
//     16:1rem,
//     20:1.25rem,
//     24:1.5rem,
//     28:1.75rem,
//     32:2rem,
//     36:2.25rem,
//     40:2.5rem,
//     44:2.75rem,
//     48:3rem,
//     52:3.25rem,
//     56:3.5rem,
//     60:3.75rem,
//     64:4rem,
//   ),
//   pr:(
//     4:.25rem,
//     8:.5rem,
//     12:.75rem,
//     16:1rem,
//     20:1.25rem,
//     24:1.5rem,
//     28:1.75rem,
//     32:2rem,
//     36:2.25rem,
//     40:2.5rem,
//     44:2.75rem,
//     48:3rem,
//     52:3.25rem,
//     56:3.5rem,
//     60:3.75rem,
//     64:4rem,
//   )
// );



// @each $pdt,  $shades in $paddingTop {
//   @each $shade, $value in $shades{
//     .is-#{$pdt}-#{$shade}{
//       padding-top:$value;
//     }
//   }
// }

