
h1, h2, h3, h4, h5, h6 {
    @include clear;
    font-family: $heading-fonts;
    color:$heading-color;
    font-weight: 600;
    margin:0;
    position: relative;
    line-height: 1.5;
    background: none;
}


