@import './menu';
@import './zite-header';
header {
    &.site-header {
        padding: 0.5rem 1.5rem;
        background-color: var(--clr-white);
        border-bottom: 1px solid var(--clr-body-300);
        
        .header-in {
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            .middle-header {
                flex-grow: 1;
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
            }
            .header-right {
                ul {
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    li {
                        margin-left: 1rem;
                        &.custom-dropdown {
                            ul {
                                &.custom-dropdown-menu {
                                    display: none;
                                    li {
                                        margin: 0;
                                    }
                                }
                            }
                            &.notifications {
                                .sup {
                                    position: absolute;
                                    top: 5px;
                                    right: -10px;
                                    background-color: var(--clr-red);
                                    padding: 0.5rem;
                                    color: var(--clr-white);
                                    border-radius: 20px;
                                    i {
                                        margin: 0;
                                    }
                                    
                                }
                                a {
                                    color: var(--clr-body);
                                    
                                    &::after {
                                        display: none;
                                    }
                                }
                                ul {
                                    &.custom-dropdown-menu {
                                        padding:0;
                                        min-width: 400px;
                                        min-height: 300px;
                                        max-width: 400px;
                                        li {
                                            padding: 0.575rem 1.125rem;
                                            a {
                                                @include align-items-start;
                                                color: var(--clr-body);
                                                display: initial;
                                                padding: 0;
                                            }
                                            figure {
                                                img {
                                                    width: 30px;
                                                    height: 30px;
                                                    @include radius(100%);
                                                }
                                            }
                                            .list-content {
                                                p {
                                                    margin: 0;
                                                    a {
                                                        color: var(--clr-body);
                                                    }
                                                    b {
                                                        a {
                                                            color: var(--clr-body);
                                                        }
                                                    }
                                                }
                                            }
                                            &:hover{
                                                background-color: var(--clr-primary-50);
                                            }
                                          
                                            &.list-header {
                                                @include align-items-center;
                                                a {
                                                    @include align-items-center;
                                                    @include justify-content-center;
                                                    @include display-flex(flex);
                                                    width: 30px;
                                                    height: 30px;
                                                    min-height: 30px;
                                                    
                                                    i {
                                                        margin: 0;
                                                        color:var(--clr-body-600);
                                                    }
                                                    &:hover{
                                                        i{
                                                            color:var(--clr-primary-500)
                                                        }
                                                    }
                                                   
                                                }
                                                &:hover{
                                                    background-color: transparent
                                                }
                                            }
                                            &.list-footer {
                                                @include align-items-center;
                                                @include justify-content-between;
                                                @include display-flex(flex);
                                                border-top:1px solid var(--clr-body-300);
                                                a.circle-icon {
                                                    @include align-items-center;
                                                    @include justify-content-center;
                                                    @include display-flex(flex);
                                                    width: 30px;
                                                    height: 30px;
                                                    min-height: 30px;
                                                    
                                                    i {
                                                        margin: 0;
                                                        color:var(--clr-body-600);
                                                    }
                                                    &:hover{
                                                        i{
                                                            color:var(--clr-primary-500)
                                                        }
                                                    }
                                                }
                                                a.common-button {
                                                    width: unset;
                                                    height: unset;
                                                    min-height: unset;
                                                    padding: 0;
                                                    @include display-flex(flex);
                                                    @include align-items-center;
                                                    span {
                                                        display: unset;
                                                        justify-content: unset;
                                                        align-items: unset;
                                                        margin-right: 0.25rem;
                                                        font-size: 0.875rem;
                                                    }
                                                    i {
                                                        color: var(--clr-primary-500);
                                                        margin: 0;
                                                        line-height: 1;
                                                    }
                                                    &:hover {
                                                        background-color: transparent;
                                                        span {
                                                            color: var(--clr-primary-500);
                                                            background-color: transparent;
                                                        }
                                                    }
                                                }
                                                &:hover{
                                                    background-color: transparent
                                                }
                                            }
                                            
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
        }
        a.logo {
            @include flex(0 0 120px);
            max-width: 120px;
            img {
                max-height: 36px;
            }
        }
        &.sticky {
            z-index: 1011 !important;
        }
    }
}

@media #{$breakpoint-lg} {
    .Is-toggle {
        .site-header {
            .header-in {
                .main-navigation {
                    right: 0;
                }
            }
        }
    }
}