.zite-header {
  padding: 2rem 2rem 0 2rem;
  background-color: var(--clr-white);

  .top-header,
  .bottom-header {
    @include display-flex(flex);
    @include justify-content-between;
    @include align-items-start;
    position: relative;
  }

  .org-details {
    @include display-flex(flex);
    @include justify-content-start;
    @include align-items-start;
    flex-grow: 1;

    .org-logo {
      @include flex(0 0 50px);
      max-width: 50px;
      margin: 0;
      position: relative;
      min-height: 50px;
      max-height: 50px;

      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 16/9;
        border: 1px solid var(--clr-body-300);
      }
    }

    .org-info {
      flex-grow: 1;

      a {
        text-transform: capitalize;
        @include transition(all 0.4s ease-in-out);

        &:hover {
          color: var(--clr-primary-500);
        }
      }

      h5 {
        text-transform: capitalize;

       
      }

      p {
        margin: 0;

        a {
          color: var(--clr-primary-800);

        }
      }

      p {
        time {
          margin-left: 0.5rem;
          font-weight: 500;
        }
      }
    }

    ul {
      margin-top: 1rem;

      &.org-summary {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;

        li {
          @include display-flex(flex);
          @include justify-content-start;
          @include align-items-center;
          color:var(--clr-body-600);

        }
      }
    }
  }

  .header-icons {
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;

    .custom-dropdown {
      ul {
        &.custom-dropdown-menu {
          li {
            border: 0;

            a {
              font-weight: 600;

              color: var(--clr-body);
            }
          }
        }
      }
    }
  }

  .bottom-header {
    background-color: var(--clr-white);
    margin-top: .6rem;

    .tab-list {
      flex-grow: 1;

      li {
        a {
          padding: 0.6125rem 1rem;
        }
      }
    }
  }

  .slider-nav {
    position: absolute;
    right: 0;
    top: 0;
    @include display-flex(flex);
    @include justify-content-end;
    @include align-items-center;

    a {
      width: 32px;
      height: 32px;
      border: 1px solid var(--clr-body-300);
      @include display-flex(flex);
      @include justify-content-center;
      @include align-items-center;
      @include flex-direction-column(column);
      @include radius(50%);
      background-color: var(--clr-white);
      color: var(--clr-body);
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}
