
/*--------------------------------------------------------------
13.3. Comments
--------------------------------------------------------------*/

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-notes {
	position: relative;
}

#respond {
	clear: both;
	display: block;
	background: #fcfcfc;
	padding: 40px;
}

#comments {
	margin-top: 40px;
}

#comment-form-title {
	font-size: 24px;
	padding-bottom: 10px;
}

.comment-list li.comment::after {
	content: inherit;
	display: none;
}

.comment-list li{
	padding-left: 0;
}

.comment {
	display: block;
	float: left;
	width: 100%;
}

ol.comment-list {
	border-radius: 5px;
	float: left;
	margin-bottom: 15px;
	margin-left: 0;
	margin-right: 0;
	overflow: inherit;
	padding: 0;
	width: 100%;
}

ol.comment-list .children {
	border: medium none;
	float: left;
	margin: 0;
	width: 100%;
}

ol.comment-list li {
	list-style: outside none none;
	margin-bottom: 15px;
}

.authorbox {
	overflow: hidden;
	padding: 0 0 70px;
	border-bottom: 1px solid #f7f7f7;
}

.authorbox h4.author-header {
	margin-bottom: 5px;
}

.comment .comment-body {
	border-radius: 0;
	clear: both;
	display: block;
	float: left;
	padding: 30px 30px 30px 0;
	position: relative;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid #f7f7f7;
}

.comments-title {
	padding: 0 0 45px;
	clear: both;
	border-bottom: 1px solid #f7f7f7;
	font-size: 25px;
}

.comment-author.vcard {
	font-size: 20px;
	margin-bottom: 5px;
}

.comment-list .children {
	padding-left: 40px;
}

#tab-reviews .comment-form-author,
#tab-reviews .comment-form-email,
#tab-reviews .comment-form-url{
	width: 100%;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-url input{
	width: 100%;
}

.comment-list li.comment > div img.avatar {
	left: 29px;
	position: absolute;
	top: 29px;
}

.vcard .avatar {
	float: left;
	margin-right: 35px;
	margin-bottom: 0;
	margin-top: 10px;
}
.comment-metadata {
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}

.comment-metadata > a {
	color: #ada9a9;
	margin-right: 30px;
}
.comment-metadata > a:before {
	content: "\f274";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	font-size: 14px;
}
.edit-link:before {
	content: "\f044";
	font-family: 'Font Awesome 5 Free';
	margin-right: 5px;
	font-size: 14px;
}
a.comment-reply-link:before {
	content: "\f3e5";
	font-family: 'Font Awesome 5 Free';
	margin-right: 7px;
	font-size: 14px;
	font-weight: 900;
}
.form-allowed-tags code {
	white-space: inherit;
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.author-avatar {
	float: left;
	margin-right: 35px;
}
.author-avatar img, .vcard .avatar {
	max-width: 100px;
}

.comment p {
	font-size: 14px;
}

.reply {
	float: right;
	font-size: 16px;
}

.entry-meta .byline .author.vcard {
	margin-left: -4px;
}

.entry-footer > span::before, .entry-meta > span::before {
	display: inline-block;
	font-family: 'Font Awesome 5 Free';
	height: 15px;
	margin-right: 8px;
	content: "";
	font-size: 13px;
}

.entry-meta span.comments-link::before {
	content: "\f086";
}

.entry-meta > .cat-links::before {
	content: "\f07c";
}

.entry-meta > .byline::before {
	content: "\f007";
}

.entry-meta .tags-links::before {
	content: "\f02c";
	font-weight: 900;
	font-size: 10px;
}

.entry-meta > .posted-on::before {
	content: "\f274";
}

.entry-footer .edit-link::before{
	content: "\f044";
}

#commentform label {
	display: inline;
	position: relative;
}

#commentform input[type="checkbox"],
#commentform input[type="radio"] {
	margin-right: 10px;
}

#commentform  p.form-submit {
	margin-top: 30px;
}

#commentform  span.required {
	color: #f0632b;
}