footer {
    &.site-footer {
        background-color: $bg-color;
        margin-top: 4rem;

        .footer-in {
            padding: 4rem 0;
            position: relative;
            text-align: center;

            ul {
                &.ft-social {
                    @include display-flex(flex);
                    justify-content: center;
                    align-items: center;

                    li {
                        a {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            border: 2px solid $bg-dark;
                            @include radius(100%);

                            color: $bg-dark;
                            @include transition(all .4s ease-in-out);
                            overflow: hidden;

                            &:hover {
                                color: $secondary-color;
                                border-color: $secondary-color;
                            }
                        }

                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .footer-menu {
                margin: 2rem 0;

                ul {
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include flex-wrap(wrap);

                    li {
                        a {
                            color: $heading-color;
                            text-transform: uppercase;
                        }

                        &:not(:last-child) {
                            margin-right: 1.5rem;
                        }
                    }
                }
            }
            @media #{$breakpoint-ls}{
                padding:3rem 0;
                .footer-menu{
                    margin:1.5rem 0;
                }
            }
        }

    }

}

.upto-button {
    width: 50px;
    height: 50px;
    @include transition(1s ease-in-out);
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    @include radius(50%);
    background-color: $secondary-color;
    color: $white-color;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 999;

    &:hover {
        background-color: $primary-color;
    }
}

.site-info {
    padding:1rem 0;
    border-top: 1px solid $grey-light;
    font-size: .775rem;
    .siteinfo-text {
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-center;
        @include flex-wrap(wrap);
    }

    p {
        margin: 0;

        a {
            color: $heading-color;
        }
    }
}