
footer{
    &.site-footer{
        background-color: $heading-color;
        margin-top:80px;
        .footer-in{
            padding:4rem 0;
            position: relative;
            .footer-up{
                border-bottom:1px solid $border-footer;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                .footer-widget{
                    .footer-logo{
                        margin:1rem 0;
                    }
                    p{
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: .5rem;
                        color:$grey-color;
                    }
                    .buttons{
                        button{
                            background-color: $white-color;
                            color:$heading-color;
                            min-width: 80px;
                            min-height: 40px;
                            padding:.5rem 1rem;
                            svg,i{
                                margin-right:.5rem;
                                margin-left: 0;
                            }
                            &:hover{
                                background-color: $secondary-color;
                                color:$white-color;
                            }
                        }
                    }
                    .newslater-wrapper{
                        @include display-flex(flex);
                        @include justify-content-between;
                        @include align-items-stretch;
                        margin-top:1rem;
                        p{
                            margin:0;
                            &.email{
                                flex-grow: 1;
                                input{
                                    display: block;
                                    width: 100%;
                                    min-height: calc(2.5rem + .75rem + 2px);
                                    padding: .375rem .75rem;
                                    font-size: .875rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    background-color: $border-footer;
                                    background-clip: padding-box;
                                    border:0;
                                    border-radius: .25rem;
                                    color:$grey-color;
                                }
                                
                            }
                            &.submit{
                                input[type="submit"]{
                                    height: 3.4rem;
                                    background-color: $secondary-color;
                                    padding:10px;
                                    border-radius: 0 5px 5px 0;
                                }
                            }
                        }
                    }
                }
            }
            .footer-widget{
                color:$white-color;
                a{
                    color:$grey-color;
                    font-weight: 500;
                    &.footer-logo{
                        margin-top:2rem;
                        @include clear();
                        display: block;
                    }
                }
                .ft-wd-title{
                    border-bottom: 2px solid $border-footer;
                    position: relative;
                    margin-bottom: 2rem;
                    &::after{
                        content:'';
                        width:50px;
                        height: 3px;
                        background-color: $secondary-color;
                        position: absolute;
                        left:0;
                        bottom:-1px;
                    }
                    h4{
                        color:$white-color;
                        font-size: 1.225rem;
                        font-weight: 700;
                        text-transform: capitalize;
                    }
                }
                
                ul{
                    &.list{
                        li{
                            a{
                                display: block;
                                
                                @include transition(all .5s ease-in-out);
                                position: relative;
                                
                            }
                        }
                        &.links-list{
                            @include display-flex(flex);
                            @include justify-content-start;
                            @include align-items-center;
                            @include flex-wrap(wrap);
                            li{
                                @include flex(0 0 50%);
                                max-width: 50%;
                                a{
                                    padding:.25rem .6125rem .25rem 1.1rem;
                                    &::before{
                                        font-family: "Font Awesome 5 Free";
                                        content:'\f105';
                                        font-weight: 900;
                                        color: $body-color;
                                        -webkit-font-smoothing: antialiased;
                                        -moz-osx-font-smoothing: grayscale;
                                        left:0;
                                        position: absolute;
                                        top:.1rem;
                                        font-size: 1rem;
                                    }
                                    &:hover{
                                        padding-left: 1.6rem;
                                        color:$white-color;
                                    }
                                }
                            }
                        }
                        &.news-list{
                            li{
                                @include display-flex(flex);
                                @include justify-content-start;
                                @include align-items-center;
                                @include clear();
                                
                                figure{
                                    @include flex(0 0 75px);
                                    max-width: 75px;
                                    height: 75px;
                                    @include radius(100%);
                                    margin:0;
                                    border:4px solid $grey-color;
                                    @include display-flex(flex);
                                    @include justify-content-center;
                                    @include align-items-center;
                                    @include flex-direction-column(column);
                                    img{
                                        width:60px;
                                        height: 60px;
                                        @include radius(100%);
                                    }
                                }
                                .news-content{
                                    padding-left: 1rem;
                                    h5{
                                        margin-bottom: .5rem;
                                    }
                                    span{
                                        @include display-flex(flex);
                                        @include justify-content-start;
                                        @include align-items-center; 
                                        svg{
                                            margin-right: .5rem;
                                        }
                                    }
                                }
                                &:not(:last-child){
                                    margin-bottom: 1rem;
                                }
                            }
                        }
                    }
                    &.gallery-list{
                        @include display-flex(flex);
                        @include flex-wrap(wrap);
                        margin:0 -.6125rem;
                        li{
                            @include flex(0 0 33.333336%);
                            max-width: 33.333336%;
                            padding:0 .6125rem;
                            
                            figure{
                                position: relative;
                                margin:0 0 .6125rem 0;
                                .overlay{
                                    position:absolute;
                                    width: 100%;
                                    height: 0;
                                    content:'';
                                    top:0;
                                    right:0;
                                    left:0;
                                    background-color: rgba($secondary-color,.7);
                                    visibility: hidden;
                                    opacity: 0;
                                    @include transition(height 1s ease-in-out);
                                    @include display-flex(flex);
                                    @include justify-content-center;
                                    @include align-items-center;
                                    @include flex-direction-column(column);
                                    z-index: 1;
                                    a{
                                        color:$white-color;
                                        position: relative;
                                        z-index: 2;
                                        margin:0 auto;
                                        text-align: center;
                                    }
                                }
                                &:hover{
                                    .overlay{
                                        bottom:0;
                                        visibility: visible;
                                        opacity: 1;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
        }
        .copyright{
            border-top:1px solid $border-footer;
            padding:1rem 0;
            text-align: center;
            span{
                margin:0;
                font-weight: 500;
                color:$grey-color;
            }
        }
        .upto-button{
            width:50px;
            height: 50px;
            @include transition(1s ease-in-out);
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            @include radius(50%);
            background-color: $secondary-color;
            color:$white-color;
            position: absolute;
            left:0;
            right:0;
            bottom:-1rem;
            margin:0 auto;
            z-index: 999;
            &:hover{
                background-color: $primary-color;
            }
        }
    }
}
