aside{
    &.sidebar{
        position: relative;
        .sidebar-in{
            
            padding:1rem;
            @media screen and (max-width:1366px){
                padding:1rem;
            }
            @media #{$breakpoint-ls}{
                margin-bottom: 2rem;
            }
        }
        
        .search-bar{
            margin-bottom: .6125rem;
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            .search-wrap{
                @include display-flex(flex);
                @include justify-content-between;
                border:1px solid $border-dark;
                @include radius(10px);
                @include align-items-stretch;
                background-color: $white-color;
                flex-grow: 1;
                input{
                    &.form-control{
                        flex-grow: 1;
                        border:none;
                        display: initial;
                        @include radius(1.5rem);
                    }
                }
                span{
                    padding:0 .5rem;
                    padding-right:0;
                    text-align:center;
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include flex-direction-column(column);
                    cursor: pointer;
                    i{
                        font-size: 1.5rem;
                        color:$secondary-color;
                    }
                }
            }
            button{
                padding:0;
                width:40px;
                height: 37px;
                min-width: initial;
                border-color: $border-dark;
                @include radius(8px);
                margin-left: .6125rem;
                background-color: $white-color;
                color:$secondary-color;
                &:focus,&:hover{
                    background-color: $secondary-color;
                    color:$white-color;
                    outline: none;
                    -webkit-outline:none;
                    box-shadow: none;
                }
            }
        }
        .aside-body{
            overflow-y:auto;
            -webkit-overflow-scrolling:touch;
            -ms-overflow-style:-ms-autohiding-scrollbar;
            max-height: calc(100vh - 125px);
            height: 100vh;
            &::-webkit-scrollbar {
                width: 4px;
                background: $border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-track {
                background-color:$border-color;
                @include radius(4px);
            }

            &::-webkit-scrollbar-thumb {
                @include radius(4px);
                background: $border-dark;
            }
            @media #{$breakpoint-ls}{
                height: auto;
                overflow-y: initial;
            }
            ul{
                &.content-list{
                    margin:0;
                    li{
                        background-color: $white-color;
                        @include radius(5px);
                        margin-bottom: .6125rem;
                        padding:.6125rem;
                        padding-bottom: .5rem;
                        @include transition(all .4s linear);
                        
                        .dataset-item{
                            .dataset-header{
                                @include display-flex(flex);
                                @include justify-content-start;
                                @include align-items-start;
                                @media #{$breakpoint-sm}{
                                    @include flex-wrap(wrap);
                                }
                            }
                            .content-icon{
                                @include flex(0 0 60px);
                                max-width: 60px;
                                span{
                                    background-color: $secondary-light;
                                    width:50px;
                                    height: 50px;
                                    @include display-flex(flex);
                                    @include justify-content-center;
                                    @include align-items-center;
                                    @include flex-direction-column(column);
                                    @include radius(50%);
                                    i{
                                        color:$secondary-color;
                                        font-size: 1.5rem;
                                    }
                                }
                            }
                            .dataset-header-content{
                                @include display-flex(flex);
                                    @include justify-content-between;
                                    @include align-items-center;
                                    flex-grow: 1;
                                    .content-header-left{
                                        flex-grow: 1;
                                        span{
                                            color:$blue-color;
                                            font-size: .775rem;
                                        }
                                        h4{
                                            color:$secondary-color;
                                            font-size: .9125rem;
                                            margin-bottom: .35rem;
                                        }
                                        p{
                                            @include display-flex(flex);
                                            @include justify-content-start;
                                            @include align-items-center;
                                            font-size: .8125rem;
                                            span{
                                                color:$body-color;
                                            }
                                            i{
                                                font-size: 1.2rem;
                                                margin-right: .6125rem;
                                            }
                                        }
                                        @media screen and (max-width:1366px){
                                            h4{
                                                font-size: .875rem;
                                            }
                                            p{
                                                font-size: .775rem;
                                            }
                                        }
                                    }
                                    
                            }
                            .dataset-body{
                                padding:.6125rem 0;
                                @include display-flex(flex);
                                @include justify-content-start;
                                @include align-items-center;
                                @include flex-wrap(wrap);
                                
                                .dataset-detail-list{
                                    @include flex(0 0 50%);
                                    max-width: 50%;
                                    margin-top:.5rem;
                                    span{
                                        font-size: .775rem;
                                    }
                                    p{
                                        font-size: .875rem;
                                        color:$heading-color;
                                    }
                                }
                                
                            }
                            
                            .dataset-footer{
                                text-align: center;
                                border-top:1px solid $border-color;
                                padding-top:.5rem;
                                @include display-flex(flex);
                                @include justify-content-between;
                                @include align-items-center;
                                @include flex-wrap(wrap);
                                a{
                                    font-weight: 600;
                                    text-transform: capitalize;
                                    display: block;
                                    color:$secondary-color;
                                    font-size: .775rem;
                                    &.common-button{
                                        padding:0;
                                        color:$body-color;
                                    }
                                }
                            }
                        }
                        
                        &:hover{
                            background-color: $secondary-light;
                            .dataset-item{
                                .content-icon{
                                    span{
                                        background-color: $white-color;
                                    }
                                }
                            }
                            .dataset-footer{
                                border-color: $secondary-color;
                                a{
                                    color:$secondary-color;
                                }
                            }
                        }
                    }
                }
                .switch-filter{
                    .switch{
                        @include flex(0 0 24px);
                        max-width: 24px;
                    }
                }
            }
            
        }
        .apply-buttons{
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            margin-top:1.5rem;
            button{
                padding:.25rem .6125rem;
                &.is-border{
                    border-color: $secondary-color;
                    color:$secondary-color;
                    &:hover{
                        background-color: $secondary-color;
                        color:$white-color;
                    }
                }
                &.is-clear{
                    color:$border-dark;
                    &:hover{
                        color:$secondary-color;
                    }
                }
            } 
        }
        .expand-button{
            position: absolute;
            top:50%;
            z-index: 1011;
            @include transform(translateY(-50%));
            z-index: 999;
            button{
                padding:0;
                &.is-clear{
                    color:$body-color;
                    width:34px;
                    height: 34px;
                    @include radius(50%);
                    background-color: $white-color;
                    @include display-flex(flex);
                    @include align-items-center;
                    @include justify-content-center;
                    @include flex-direction-column(column);
                    border:1px solid $border-color;                   i{
                        margin:0;
                        font-size: 1rem;
                    }
                    i{
                        font-size: 1.5rem;
                    }
                    &:focus{
                        -webkit-outline:none;
                        outline: none;
                        color:$secondary-color;
                    }
                    
                }
            }
            &.active{
                @include transform(rotate(180deg));
            }
        }
        &.left-sidebar{
            .expand-button{
                right:-17px;
            }
        }
        &.right-sidebar{
            // position: absolute;
            // top: 0.4rem;
            // left: 2.4rem;
            // width: 300px;
            // z-index: 999;
            // @include radius(10px);
            // max-height: calc(100vh - 130px);
            // height: 100vh;
            // background-color: transparent;
            // padding:0;
            
            .expand-button{
                left:-17px;
            }
        }
        .custom-tab{
            position: absolute;
            bottom:1rem;
            left:1rem;
            right: 1rem;;
            border-top:1px solid $border-color;
        }
    }
}
.outer-row,.covid-row{
    margin-left:-3px;
    margin-right: -3px;
    @include align-items-center;
    
}
// .active-report{
//     @include display-flex(flex);
//     @include align-items-center;
//     @include justify-content-center;
//     @include flex-direction-column(column);
//     min-height: 124px;
//     padding:.6125rem;
//     @include radius(4px);
//     margin-bottom: .5rem;
//     text-align: center;
//     background-color: $white-color;
//     box-shadow: 0 2px 5px -2px rgba(0,0,0,.3);
//     h4{
//         font-size:1rem;
//         font-weight: 700;
//         margin-bottom: .25rem;
//         color:$green-color;
//         @media #{$breakpoint-md}{
//             font-size: 1.2rem;  
//         }
//     }
//     h6{
//         font-size:.875rem;
//         font-weight: 400;
//         text-transform: capitalize;
//         color:$body-color;
//         line-height: 1.5;
//     }
// }
// .outer-col{
//     padding-left:3px;
//     padding-right:3px;
// }
.covid-col{
    @include flex(0 0 33.333336%);
    max-width: 33.333336%;
    padding-left:3px;
    padding-right: 3px;
    @media #{$breakpoint-ls}{
        @include flex(0 0 33.3337%);
        max-width: 33.3337%;  
    }
    @media #{$breakpoint-sm}{
        @include flex(0 0 50%);
        max-width: 50%;
    }
    .covid-report{
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-center;
        @include flex-direction-column(column);
        min-height: 60px;
        padding:.6125rem;
        @include radius(4px);
        margin-bottom: .5rem;
        text-align: center;
        background-color: $white-color;
        box-shadow: 0 2px 5px -2px rgba(0,0,0,.3);
        h4{
            font-size:.875rem;
            font-weight: 700;
            margin-bottom: .25rem;
            color:$heading-color;
            @media #{$breakpoint-md}{
                font-size: 1.2rem;  
            }
        }
        h6{
            font-size:.775rem;
            font-weight: 400;
            text-transform: capitalize;
            color:$body-color;
            line-height: 1.5;
        }
        @media #{$breakpoint-xxs}{
            padding:.6125rem;
        }
        &.tested,&.isolation{
            h4{
                color:$blue-color;
            }
            // border:1px solid $blue-color;
        }
        &.positive,&.death{
            // border:1px solid $secondary-light;
            h4{
                color:$secondary-color;
            }
        }
        &.negative{
            // border:1px solid $green-light;
            h4{
                color:$green-color;
            }
        }
        &.recovered{
            // border:1px solid $green-dark-light;
            h4{
                color:$green-color;
            }
        }
        &.quarantine{
            // border:1px solid $blue-dark-light;
            h4{
                color:$blue-color;
            }
        }
        &.active-report{
            h4{
                color:$green-color;
            }
        }
        
    }
}