

@import "./menu";
@import "./zite-header";
header{
    
    &.site-header{
        padding:.6125rem 1rem;
        background-color: $white-color;
        border-bottom: 1px solid $border-color;
        .header-in{
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-center;
            
            .middle-header{
                flex-grow: 1;
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
            }
            .header-right{
                ul{
                    @include display-flex(flex);
                    @include justify-content-end;
                    @include align-items-center;
                    
                    li{
                        margin-left: 1rem;
                        &.custom-dropdown{
                            ul{
                                &.custom-dropdown-menu{
                                    display: none;
                                    li{
                                        margin:0;
                                    }
                                }
                            }
                            &.notifications{
                                a{
                                    color:$body-color;
                                    padding-right: 1rem;
                                    i{
                                        margin-top:.6rem;
                                    }
                                    &::after{
                                        display: none;
                                    }
                                }
                                ul{
                                    &.custom-dropdown-menu{
                                        min-width:300px;
                                        min-height:300px;
                                        max-width: 300px;
                                        li{
                                            a{
                                                @include align-items-start;
                                                color:$body-color;
                                                display: initial;
                                                padding:0;

                                            }
                                            figure{
                                                img{
                                                    width: 30px;
                                                    height: 30px;
                                                    @include radius(100%);
                                                }
                                            }
                                            .list-content{
                                                p{
                                                    margin:0;
                                                    font-size: .875rem;
                                                    a{
                                                        color:$heading-color;
                                                    }
                                                    b{
                                                        a{
                                                            color:$heading-color;
                                                        }
                                                    }
                                                }
                                            }
                                            &.list-header{
                                                a{
                                                    @include align-items-center;
                                                    @include justify-content-center;
                                                    @include display-flex(flex);
                                                    width:30px;
                                                    height: 30px;
                                                    min-height: 30px;
                                                    i{
                                                        margin:0;
                                                        color:$primary-color;
                                                    }
                                                }
                                            }
                                            &.list-footer{
                                                a{
                                                    @include align-items-center;
                                                    @include justify-content-center;
                                                    @include display-flex(flex);
                                                    i{
                                                        margin:0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &.profile{
                                a{
                                    img{
                                        max-width: 40px;
                                        width:40px;
                                        height: 40px;
                                        @include radius(100%);
                                        @include box-shadow(0 10px 20px rgba($heading-color,.2));
                                        margin-right: .5rem;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        a.logo{
            @include flex( 0 0 180px);
            max-width: 180px;
            @media #{$breakpoint-xs}{
                max-width: 150px;
            }
        }
    }
}
@media #{$breakpoint-md}{
    .Is-toggle {
        .site-header {
            .header-in{
                .main-navigation{
                    right: 0;
                }
            }
        }
    }
}