.award-section{
    .award-container{
        max-width: 100%;
        margin:0 auto;
    }
    .award-box{
        @include cover(center);
        min-height: 592px;
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
        @include flex-direction-column(column);
        padding:2rem;
        .award-icon{
            color:$white-color;
            svg{
                font-size: 4rem;
            }
        }
        .award-body{
            margin:2rem 0;
            color:$white-color;
            text-align: center;
            h5{
                font-size: 1.5rem;
                color:$white-color;
                font-family: $body-fonts;
                font-weight: 700;
                text-transform: capitalize;
                margin-bottom: 1.5rem;
            }
            p{
                font-size: 1rem;
                margin:0;
                
            }
            
        }
        &.is-green{
            background-color:$primary-color;
        }
        &.is-red{
            background-color:$secondary-color;
        }
        &.is-overlay{
            position: relative;
            &::after{
                position: absolute;
                content:'';
                width:100%;
                height: 100%;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background-color: rgba($primary-color,.4);
                z-index: 99;
            }
        }
    }
}