.news-section{
    background-color: $primary-light;
    position: relative;
    z-index: 1;
    
    .news-box{
        background-color: $white-color;
        figure{
            margin:0;
            position: relative;
            a{
                &.heart-icon{
                    position:absolute;
                    right:.6125rem;
                    top:.6125rem;
                    width:44px;
                    height: 44px;
                    color: $white-color;
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    @include flex-direction-column(column);
                    @include radius(5px);
                    @include transition(all .5s ease-in-out 0s);
                    background-color: $secondary-color;
                    &:hover{
                        background-color: $primary-color;
                    }
                }
            }
        }
        .post-content{
            padding:1rem;
            .post-meta{
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                span{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    color:$body-color;
                    font-weight: 500;
                    svg{
                        margin-right: .6125rem;
                    }
                    time{

                    }
                    a{
                        color:$body-color;
                    }
                    &:not(:last-child){
                        margin-right: 1rem;
                    }
                }
            }
            h4{
                font-family: $body-fonts;
                font-size: 1.125rem;
                font-weight: 700;
                margin:1rem 0;
                a{
                    color:$heading-color;
                }
            }
            button{
                &.is-clear{
                    color:$body-color;
                    span{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.home-1{
    .news-section{
        margin-top:-100px;
        padding:200px 0 100px 0;
    }
}
.home-3{
    .news-section{
        padding-bottom: 100px;
    }
}