.service-section{
    background-color:$primary-light;
    padding:100px 0;
    margin-top:100px;
    .service-box{
        padding:.5rem;
        .box-in{
            padding:1.5rem;
            background-color: $white-color;
            @include box-shadow(0 10px 30px rgba(222,222,222,.5));
            @include radius(5px);
            figure{
                width:80px;
                height: 80px;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                @include radius(50%);
                margin:0;
                background-color: $blue-color;
                @include box-shadow(0 10px 30px rgba($blue-color,.5));
                @include transition(all .4s ease-in-out);
                &:hover{
                    background-color: $secondary-color;
                    @include box-shadow(0 10px 30px rgba($secondary-color,.5)); 
                }
            }
            .service-body{
                padding-top:1.5rem;
                h5{
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                p{
                    font-weight: 500;
                    color:$body-color;
                    margin:1rem 0;
                    font-size: 1rem;
                    @include trim(3);
                }
                button{
                    padding:0;
                    min-height: initial;
                    font-size: 1rem;
                }
            }
        }
        
    }
}