/*--------------------------------------------------------------
mainslider
--------------------------------------------------------------*/

.hero {
    padding-top: 0;
    // max-width: 1120px;
    margin: 0 auto;
}
.main-slider {
    
    .hero-article {
        min-height: 600px;
        @include cover(center);
        position: relative;

        @media #{$breakpoint-ls} {
            min-height: 500px;
            margin:0;
        }


        @media #{$breakpoint-md} {
            min-height: 700px;
        }

        @media #{$breakpoint-sm} {
            min-height: 500px;
        }

        .slider-caption {
            width: 100%;
            margin: 0 auto;
            bottom: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: 999;
            background-color: rgba(0, 0, 0, .5);

            .caption-content {
                padding: 2rem;
                position: relative;
                color: $white-color;
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                min-height: 600px;
                max-width: 900px;
                margin: 0 auto;

                a {
                    @include transition (all .4s ease);
                }

                @media #{$breakpoint-ls} {
                    min-height: 500px;
                }

                @media #{$breakpoint-md} {
                    min-height: 700px;
                }

                @media #{$breakpoint-sm} {
                    min-height: 500px;
                }

                h2 {
                    font-size: 50px;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $white-color;
                    text-transform: capitalize;
                    margin-bottom: 25px;

                    a {
                        color: $white-color;

                        &:hover {
                            color: $secondary-color;
                        }
                    }

                    @media #{$breakpoint-md} {
                        font-size: 45px;
                        line-height: 55px;
                    }

                    @media #{$breakpoint-sm} {
                        font-size: 24px;
                        line-height: 34px;
                    }

                }

                .category {
                    margin-bottom: 25px;

                    a {
                        color: $white-color;

                        &:hover {
                            color: $secondary-color;
                        }
                    }

                    &:before,
                    &:after {
                        content: "";
                        width: 40px;
                    }
                }
            }

            .entry-meta {
                span {
                    font-size: .875rem;

                    a {
                        color: $white-color;

                        &::before {
                            content: "";
                            font-family: "Font Awesome 5 Free";
                            margin-right: .5rem;
                            font-size: .775rem;
                            font-weight: 400;
                        }
                    }

                    &.posted-on {
                        a {
                            &::before {
                                content: "\f073";
                                margin: 0 .5rem;
                            }
                        }
                    }

                    &.comments-link {
                        a {
                            &::before {
                                content: "\f086";
                            }
                        }
                    }

                    &.edit-link {
                        a {
                            &::before {
                                content: "\f044";
                            }
                        }
                    }

                    &.cat-links {
                        a {
                            &::before {
                                content: "\f00b";
                                margin: 0 .5rem;
                            }
                        }
                    }

                    &.author.vcard {
                        a {
                            &::before {
                                content: "\f007";
                                margin: 0 .5rem;
                            }
                        }
                    }

                    &:not(:last-child) {

                        // margin-right: 1.5rem;
                        &::after {
                            display: inline-flex;
                            content: '|';
                            margin: 0 .6125rem;
                        }
                    }
                }
            }

            &.is-left {
                @include align-items-start;
            }

            &.is-center {
                @include align-items-center;
                text-align: center;
            }

            &.is-right {
                @include align-items-end;
                text-align: right;
            }
        }
    }
    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        text-transform: uppercase;
        font-weight: 600;
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-center;
        @include flex-direction-column(column);
        height: 60px;
        width: 60px;
        background: $white-color;
        color: $heading-color;
        border: 0;
        border-radius: 5px;
        @include transition (all .4s ease);

        &::before {
            display: none;
        }

        &::after {
            font-family: "Font Awesome 5 Free";
            @include transition(all .3s ease-in-out);
            font-size: 1rem;
            font-weight: 900;
            text-transform: initial;
            font-size: 1.5rem;
        }

        &:hover {
            background: $secondary-color;

            &::after {
                color: $white-color;
            }
        }
    }

    .slick-prev {
        left: 145px;

        &::after {
            content: "\f104";
        }


        @media #{$breakpoint-xl} {
            left: 120px;
        }

        @media #{$breakpoint-lg} {
            left: 50px;
        }

        @media #{$breakpoint-md} {
            left: 20px;
        }

        @media #{$breakpoint-sm} {
            display: none !important;
        }
    }

    .slick-next {
        right: 145px;

        &::after {
            content: "\f105";
        }

        @media #{$breakpoint-xl} {
            right: 120px;
        }

        @media #{$breakpoint-lg} {
            right: 80px;
        }

        @media #{$breakpoint-md} {
            right: 20px;
        }

        @media #{$breakpoint-sm} {
            display: none !important;
        }

    }
    &.half-slider{
        .hero-article {
            width: 1170px;
            margin: 0 15px;
        }
    }
    &.full-slider{
        .hero-article {
            width:1920px;
            margin: 0;
            min-height: 600px;
            max-height: 600px;
        }
    }
    
}

