/*--------------------------------------------------------------
12. Featured slider
--------------------------------------------------------------*/

#content {
    .hero{
        padding-top:0;
    }
    .main-slider{
        .bg-image{
            @include cover(center);
            min-height: 768px;
            position: relative;
        }
        /*slider pager box*/
        .cycle-pager {
            bottom: 10%;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 999;
            span {
                background-color: #fff;
                cursor: pointer;
                display: inline-block;
                float: none;
                height: 12px;
                margin: 3px 5px;
                width: 12px;
                z-index: 99;
                border-radius: 30px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
            }
            .cycle-pager-active {
                background-color: #1abc9c;
                border-color: #fff;
                width: 30px;
                border-radius: 5px;
            }
        }
        .caption{
            bottom:0;
            height: auto;
            left:0;
            right:0;
            top:0;
            position: absolute;
            z-index: 999;
            
            .slider-caption{
                @include display-flex(flex);
                @include justify-content-center;
                @include flex-direction-column(column);
                height: 768px;
                max-width: 1140px;
                width:100%;
                margin:0 auto;
                
                h2 {
                    font-size: 3.5rem;
                    line-height: 1.2;
                    font-weight: 900;
                    a{
                        text-decoration: none;
                    }
                }
                h6 {
                    font-style: italic;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin-bottom: 1.5rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 500;
                    color:$white-color;
                    margin-top:1rem;
                    @include clear;
                }
                .buttons{
                    margin-top:1.5rem;
                    a{
                        &.is-clear{
                            color:$white-color;
                            margin-left: 1rem;
                            font-size: 1.125rem;
                        }

                    }
                }
                &.is-left {
                    @include align-items-start;
                }
                &.is-center {
                    @include align-items-center;
                    text-align:center;
                }
                &.is-right {
                    @include align-items-end;
                   text-align: right;
                }
            }
            
            
            
        }
        /*Slider cycle next / previous*/
        .slick-prev,.slick-next{
            background:$white-color;
            visibility: hidden;
            &:hover{
                background-color: $primary-color;
                border-color: $primary-color;
                &::before{
                    color:$white-color;
                }
            }
        }
        .slick-prev{
            left:-2%;
        }
        .slick-next{
            right:-2%;
        }
        &.overlay-enabled{
            .bg-image{
                &::after{
                    content: "";
                    display: block;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 888;
                    background-color:rgba($heading-color,.7);
                }
                h6 {
                    color: $white-color;
                }
                h2 a {
                    color: $white-color;
                }
            }
        }
        &:hover{
            .slick-prev,
            .slick-next{
                opacity: 1;
                visibility: visible;
            }
            .slick-prev {
                left:2%;
            }
            .slick-next {
                right:2%;
            }
        }
    }
    
}
.slick-prev,.slick-next{
    width: 55px;
    z-index: 999;
    height: 55px;
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    @include flex-direction-column(column);
    z-index: 1000;
    line-height: 2.2;
    background:$white-color;
    @include transition(all .2s ease-in-out 0s);
    @include radius(100%);
    border:1.5px solid $grey-light;
    &::before{
        font-family: "Font Awesome 5 Pro";
        opacity: .75;
        color: $body-color;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &:hover{
        background-color: $secondary-color;
        border-color: $secondary-color;
        &::before{
            color:$white-color;
        }
    }
}
.slick-prev{
    left:-2%;
    &::before{
        font-family: "Font Awesome 5 Free";
        content:'\f104';
        font-weight: 900;
    }
}
.slick-next{
    right:-2%;
    &::before{
        font-family: "Font Awesome 5 Free";
        content:'\f105';
        font-weight: 900;
    }
}



