.suscribe-section{
    position: relative;
    z-index: 2;
    figure{
        // @include cover(center);
        // min-height: 592px;
        margin:0;
    }
    .suscribe-content{
        @include cover(center);
        min-height: 424px;
        position: relative;
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-start;
        @include flex-direction-column(column);
        padding:2rem;
        background-color: rgba($green-dark,.8);
        .common-title{
            margin-bottom: 1.5rem;
            b{
                font-size: .875rem;
            }
            h3{
                font-size: 1.5rem;
                margin-top:.6125rem;
            }
        }
        .common-title,.suscribe-body{
            position: relative;
            z-index: 2;
            color:$white-color;
            p{
                margin:0;
            }
        }
        .custom-input-group{
            margin-top:2rem;
        }
    }
}