.team-section{
    .team-slider{
        .team-box{
            padding:.5rem;
            .box-in{
                position: relative;
                background-color: $primary-light;
                figure{
                    margin:0;
                }
                .team-body{
                    @include display-flex(flex);
                    @include justify-content-between;
                    @include align-items-center;
                    margin-top:1rem;
                    .body-content{
                        flex-grow: 1;
                        h5{
                            margin:0;
                            font-weight: 700;
                            font-size: 1.125rem;
                        }
                        b{
                            color:$secondary-color;
                        }
                    }
                    a{
                        &.is-more{
                            padding:.5rem .775rem;
                            background-color: $primary-color;
                            display: inline-block;
                            color:$white-color;
                            @include transition(all .4s ease-in-out);
                            svg{
                                font-size: .875rem;
                            }
                        }
                        &:hover{
                            background-color: $secondary-color;
                        }
                    }
                    &.is-center{
                        @include justify-content-center;
                        .body-content{
                            flex-grow: unset;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.under-team{
    @include display-flex(flex);
    @include justify-content-between;
    @include align-items-center;
    .text{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        padding-right: 2rem;
        p{
            margin:0;
        }
        span{
            &.icon{
                margin-right: 1rem;
            }
        }
    }
    button{
        min-width: 220px;
    }
}
.home-3{
    .team-section{
        .team-slider{
            .team-box{
                .box-in{
                    padding-bottom: 2rem;
                    .team-body{
                        position: absolute;
                        bottom:0px;
                        left:15px;
                        right: 15px;
                        z-index: 1;
                        background-color: $white-color;
                        @include radius(10px);
                        max-width: 230px;
                        margin: 0 auto;
                        padding:1rem;
                        @include box-shadow(0 10px 32px(172,172,172,.22));
                        .body-content{
                            
                            ul{
                                @include transition(all .4s ease-in-out);
                                &.social-list{
                                    opacity: 0;
                                    visibility: hidden;
                                    height: 0;
                                    @include transition(height all .5s ease-in-out);
                                }
                            }
                        }
                    }
                    &:hover{
                        .team-body{
                            .body-content{
                                ul{
                                    &.social-list{
                                        opacity: 1;
                                        visibility: visible;
                                        height: auto;
                                        margin-bottom: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}