.testimonial{
    background-color: $primary-color;
    padding:100px 0;
    .testimonial-slider{
        .testi-box{
            padding:.5rem;
            .testi-in{
                position: relative;
                background-color: $primary-light;
                padding:2rem;
                background-color: $white-color;
                figure{
                    margin:0;
                }
                .testi-header{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    figure{
                        max-width: 65px;
                        height: 65px;
                        @include radius(100%);
                        img{
                            @extend figure;
                            @include box-shadow(0  16px 30px rgba($secondary-color,.5));
                        }
                    }
                    .client-info{
                        text-transform: capitalize;
                        padding-left:1rem;
                        h5{
                            font-family: $body-fonts;
                            font-size: 1.5rem;
                            font-weight: 700;
                            margin:0;
                        }
                        b{
                            color:$secondary-color;
                            font-weight: 500;
                        }
                    }
                }
                .testi-body{
                    padding:1.5rem 0;
                    border-top:1.5px solid $border-color;
                    margin-top:1.5rem;
                    p{
                        &:not(:last-child){
                            margin-bottom: 1rem;
                        }
                    }
                    
                }
                .testi-footer{
                    .rating{
                        @include display-flex(flex);
                        @include justify-content-start;
                        @include align-items-center;
                        li{
                            a{
                                color:$orange-color;
                            }
                            &:not(:last-child){
                                margin-right: .6125rem;
                            }
                        }
                    }
                }
            }
        }
    }
}