.why-section{
    .whychoose-figure{
        figure{
            margin:0;
        }
        .top-figure{
            position: relative;
        }
        .figure-content{
            
            padding:1.5rem;
            @include radius(5px);
            @include cover(center);
            text-align: center;
            position: absolute;
            right:0;
            bottom:-2rem;
            z-index: 99;
            max-width: 280px;
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            @include flex-direction-column(column);
            min-height: 300px;
            color:$white-color;
            text-align: center;
            @include cover(center);
            background-color:rgba($secondary-color,.9);
            h5{
                font-size:1.25rem;
                margin:0;
                color:$white-color;
                font-weight: 700;
            }
            p{
                font-weight: 500;
                margin:1rem 0;
            }
        }
    }
    .whychoose-content{
        @include display-flex(flex);
        @include justify-content-center;
        @include align-items-start;
        @include flex-direction-column(column);
        min-height: 624px;
        padding:1.5rem 0 1.5rem 3rem;
        .common-title{
            margin-bottom: 2rem;
        }
        .why-body{
            
            .why-text{
                padding-bottom: 2rem;
                border-bottom: 1px solid $border-color;
                p{
                    font-weight: 500;
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .why-footer{
                @include display-flex(flex);
                @include justify-content-between;
                @include align-items-center;
                margin-top:2.5rem;
                .why-count{
                    h4{
                        color:$primary-color;
                        font-weight: 600;
                        font-size: 2rem;
                        margin:0;
                    }
                    h6{
                        color:$heading-color;
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}