
@import "login";
@import "home";
@import "manage-user";
@import "data-structure";
@import "error";
@import "sections/section";
.page-header{
    margin-bottom: 1rem;
    h1{
        font-size: 1.8rem;
        text-transform: capitalize;
        @media #{$breakpoint-desktop}{
            font-size: 1.3rem;
        }
    }
    &.is-center{
        text-align: center;
        
    }
}