.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $body-color;
  @include radius(5px);
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;

  &.is-border {

    tr {
      border: 1px solid $border-color;
    }
  }

  // thead{
  //   position: relative;
  //   display: block;
  //   overflow: visible;
  //   width: 100%;
  // }
  // tbody {
  //   position: relative;
  //   display: block;
  //   height: 550px;
  //   overflow: scroll;
  //   width: 100%;
  // }
}

.table td,
.table th {
  padding: .5rem 0.75rem;
  vertical-align: top;
  border-top: 1px solid $border-color;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid $border-color;
  background-color: $bg-color;
  color: $body-color;
  font-weight: 400;
  text-transform: capitalize;
}

.table tbody+tbody {
  border-top: 2px solid $border-color;
}

.table-sm td,
.table-sm th {
  padding: 0.3rem;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid $border-color;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-sm>.table-bordered {
    border: 0;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-md>.table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-lg>.table-bordered {
    border: 0;
  }
}

@media (max-width: 1440px) {
  .table-responsive-xl {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-xl>.table-bordered {
    border: 0;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-responsive>.table-bordered {
  border: 0;
}

.zite-table {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  table {
    h6 {
      font-size: .8125rem;

      @media #{$breakpoint-desktop} {
        font-size: .775rem;
      }
    }

    th {
      vertical-align: middle;

      &.serial-no {
        width: 50px;
      }

      .custom-checkbox {
        margin: 0;
      }
    }

    td {
      color: $heading-color;

      .site-progress {
        @include display-flex(flex);
        @include align-items-center;
        @include justify-content-start;

        b {
          padding-right: .6125rem;
          font-weight: 600;
        }

        .zite-progress {
          flex-grow: 1;
          height: 6px;
        }
      }

      .custom-checkbox {
        width: 100%;
        margin: 0;
      }

      .check-content {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        flex-grow: 1;

        b {
          text-transform: capitalize;

          @media #{breakpoint-md-desktop} {
            font-size: .8rem;
          }
        }
      }

      .org {
        @extend .site-progress;

        .org-text {
          h6 {
            @include trim(1);
          }
        }
      }

      figure {
        @include flex(0 0 40px);
        max-width: 40px;
        margin: 0;

        img {
          max-width: 28px;
          height: 28px;
          width: 100%;
          @include radius(100%);
        }
      }

      span {
        &.form-guide {
          i {
            color: $body-color;
            font-size: 1rem;
          }
        }
      }

      b {
        font-weight: 500;
        color: $heading-color;

        &.counter {
          margin-left: .6125rem;
        }

        @media #{breakpoint-desktop} {
          font-size: .775rem;
        }
      }
    }

    tr {
      @include radius(5px);

      &.form-header {
        h5 {
          @include display-flex(flex);
          @include justify-content-start;
          @include align-items-center;

          span {
            padding-left: .5rem;
          }
        }

        &.active {

          h5 {
            color: $primary-color;

            i {
              @include transform(rotate(180deg));
            }
          }
        }
      }
    }

    tr {
      &.row-form-header {
        td {
          h6 {
            color: $primary-color;
            position: relative;
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;

            &::before {
              content: 'arrow_drop_down';
              font-family: 'Material Icons';
              display: inline-block;
              margin-right: .5rem;
              font-size: 1.4rem;
            }
          }
        }

        &.is-active {
          td {
            h6 {
              &::before {
                content: 'arrow_drop_up';
                font-family: 'Material Icons';
                display: inline-block;
                margin-right: .5rem;
                font-size: 1.4rem;
              }
            }
          }
        }
      }

      &.row-form-header-2 {
        td {
          &:first-child {
            padding-left: 2rem;
          }

          h6 {
            color: $heading-color;
            position: relative;
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;

            &::before {
              content: 'arrow_drop_down';
              font-family: 'Material Icons';
              display: inline-block;
              margin-right: .5rem;
              font-size: 1.4rem;
            }
          }
        }
      }

      &.row-form-header-3 {
        td {
          &:first-child {
            padding-left: 3.5rem;
          }
        }
      }

      .custom-checkbox {
        label {
          color: $heading-color;
          font-weight: 600;
          font-size: .875rem;
        }

        .check-content {
          b {
            color: $heading-color;
            font-weight: 600;
            font-size: .875rem;
          }

          .drag-icon {
            max-width: 20px;
            margin-right: .6125rem;
            cursor: move;
          }
        }
      }
    }

    .inline-row {
      .custom-select {
        max-width: 200px;

        p {
          height: 2.2rem;
          line-height: 2.2rem;
          background-color: $white-color;
        }
      }

      i {
        margin-left: 1rem;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .icons {
      @include display-flex(flex);
      @include justify-content-end;
      @include align-items-center;

      i {
        font-size: 1rem;
        cursor: pointer;
      }

      span {
        color: $body-light;

        &:not(:last-child) {
          margin-right: .6125rem;
        }
      }
    }
  }

  &.project-summary-table {
    table {
      thead {
        th {
          min-width: 120px;
          ;
        }
      }
    }
  }


}

.table-status {
  @include display-flex(flex);
  @include align-items-center;

  [class*=status] {
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    color: $body-color;
    @include radius(20px);
    cursor: pointer;
    @include transition(all .4s ease-in-out);
    min-width: 28px;
    min-height: 28px;
    margin-right: -4px;
    border: 1px solid $white-color;
    @include transform(scale(1));
    position: relative;

    &.is-pd {
      padding: .5px 10px;
      text-transform: capitalize;
    }

    &.is-blue {
      background-color: $blue-light;
      color: $blue-color;
    }

    &.is-red {
      background-color: $red-light;
      color: $red-color;
    }

    &.is-green {
      background-color: $primary-light;
      color: $primary-color;
    }

    &.is-orange {
      background-color: $orange-light;
      color: $orange-color;
    }

    img {
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      @include radius(50%);
    }

    &:hover {
      @include transform(scale(1.2));
    }
  }

  &.is-start {
    @include justify-content-start;
  }

  &.is-end {
    @include justify-content-end;
  }

  &.is-center {
    @include justify-content-center;
  }
}

.table-info {
  @include justify-content-center;

  li {
    @include display-flex(flex);
    @include justify-content-center;
    @include align-items-center;
    font-size: .875rem;
    color: $body-color;

    b {
      font-weight: 600;
      margin-right: .35rem;
      color: $heading-color;
    }

    &:not(:last-child) {
      &::after {
        content: '|';
        display: inline-flex;
        margin: 0 .5rem;
      }
    }
  }
}