@mixin scrollbar($value) {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    width: 4px;
    background: $value;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: $value;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: $value;
  }
}
