.sidebar,.canvas-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    .widget {
        background-color: $white-color;
        margin-top: 2rem;
        .sidebar-title {
            position: relative;
            @include display-flex(flex);
            @include align-items-center;
            @include justify-content-start;
            text-transform: uppercase;
            padding:.775rem;
            margin-bottom: 1rem;
            background-color: $secondary-light;
            @include radius(5px);
            h3 {
                font-size: .775rem;
                text-transform: uppercase;
                margin: 0;
                padding: 0 .5rem;
            }

            &:before,
            &:after {
                content: "";
                width: 20px;
                height: 1.5px;
                background: $secondary-color;
                display: inline-flex;
            }

            &.is-center {
                @include justify-content-center;
            }

            &.is-start {
                @include justify-content-start;
            }

            &.is-end {
                @include justify-content-end;
            }
        }

        ul {
            li {
                display: block;
                padding: 10px 0;
                border-bottom: 1px dashed $border-color;
                position: relative;

                a {
                    font-size: 0.875rem;
                    color: $heading-color;

                    &:hover,
                    &:visited {
                        color: $secondary-color;
                    }

                    &:visited {
                        color: $body-color;
                    }
                }

                &:last-child {
                    border-bottom: 0;
                    padding-bottom: 0;
                }

                &:first-child {
                    padding-top: 0;
                }
            }
        }

        &.widget_search {
            background: none;
            padding: 0;
            .search-bar{
                .search-wrap{
                    max-width:100%;
                }
            }
            form {
                display: inline-block;
                width: 100%;
                position: relative;

                label {
                    float: left;
                    width: 100%;
                    margin: 0;

                    span {
                        clip: rect(1px, 1px, 1px, 1px);
                        position: absolute !important;
                        height: 1px;
                        width: 1px;
                        overflow: hidden;
                    }

                    input {
                        padding: 11px 15px;
                        line-height: 1.2;
                        height: 46px;
                        float: left;
                        width: 100%;
                        border-radius: 4px;
                        font-size: 1rem;
                        line-height: 1;
                        background-color: $white-color;
                        border: 1px solid $border-color;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
                    }
                }

                input[type="submit"] {
                    position: absolute;
                    right: 0;
                    background-color: $secondary-color;
                    color: $white-color;
                    border: 0;
                    padding: 12px;
                    line-height: 1;
                    border-radius: 0px 4px 4px 0;
                    height: 46px;
                    top: 0;
                    width: auto;
                    cursor: pointer;
                    display: inline-block;
                }
            }
        }

        &.widget_popular_post {
            ul {
                li {
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-start;
                    clear: both;

                    figure {
                        @include flex(0 0 40px);
                        max-width: 40px;
                        width: 100%;
                        margin: 0;

                        img {
                            @include radius(50%);
                            width: 100%;
                            height: 40px;
                        }
                    }

                    .post-content {
                        flex-grow: 1;
                        padding-left: .6125rem;

                        h5 {
                            font-weight: 600;
                            @include trim(2);

                            margin: 0;
                            margin-bottom: .5rem;

                            a {
                                color: $heading-color;
                                font-size: .875rem;
                            }
                        }

                        p {
                            @include trim(2);
                            font-size: 0.775rem;
                        }

                        .post-meta {
                            @include display-flex(flex);
                            @include justify-content-start;
                            @include align-items-start;
                            @include flex-wrap(wrap);

                            span {
                                font-size: 0.675rem;

                                &.post-author {
                                    font-style: italic;
                                    text-transform: capitalize;
                                    font-size: 0.675rem;
                                    font-weight: 600;

                                    a {
                                        font-weight: 600;
                                        margin-left: 5px;
                                        font-weight: 400;
                                        font-size: 0.675rem;

                                    }
                                }

                                a {
                                    font-size: .6125rem;
                                }

                                &:not(:last-child) {
                                    margin-right: .5rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.widget_archive {
            ul {
                li {
                    padding-left: 1.5rem;

                    &::after {
                        content: "\f105";
                        font-family: "Font Awesome 5 Free";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        font-weight: 900;
                        color: $body-color;
                    }

                    &:first-child {
                        &::after {
                            top: 0;
                        }
                    }
                }
            }
        }

        &.widget_tag_cloud {
            .tagcloud {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                @include flex-wrap(wrap);

                a {
                    font-size: .875rem !important;
                    border: 1px solid $border-color;
                    @include radius(10px);
                    padding: 5px 10px;
                    color: $body-color;

                    &:not(:last-child) {
                        margin: 0 .5rem .5rem 0;
                    }

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }

        &.about-widget {
            figure {
                max-width: 200px;
                margin: 0 auto;

                img {
                    width: 200px;
                    height: 200px;
                    @include radius(100%);
                }
            }

            .about-body {
                margin-top: 1.5rem;

                h5 {
                    font-size: 1.2rem;
                    margin: 1rem 0;
                    text-align: center;
                    text-transform: capitalize;
                }

                p {
                    text-align: justify;
                    font-size: .975rem;
                }

                .social-icons {
                    ul {
                        @include display-flex(flex);
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        bottom: 30px;

                        li {
                            display: initial;
                            border: 0;

                            a {
                                width: 40px;
                                height: 40px;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                border: 2px solid $bg-dark;
                                @include radius(100%);
                                margin-right: 10px;
                                color: $bg-dark;
                                @include transition(all .5s ease-in-out);
                                overflow: hidden;

                                &:hover {
                                    color: $secondary-color;
                                    border-color: $secondary-color;
                                }
                            }

                            &:last-child,
                            &:first-child {
                                margin: 0;
                                padding: 0;
                            }
                        }

                    }
                }
            }
        }
        
    }
}

.secondary {
    position: relative;
}
.canvas-sidebar{
    .widget{
        background-color: transparent;
        &.about-widget{
            .about-body{
                color:$white-color;
                h5,p{
                    color:$white-color;
                }
            }
        }
        .sidebar-title {
            text-transform: uppercase;
            padding:0;
            background-color:transparent;
            h3 {
                color:$white-color;
            }
        }
    }
}
main{
	&.site-main{
        padding-right: 1rem;
         @media #{$breakpoint-lg}{
            padding-right: 0;
        }
	}
}
@import "no-sidebar";
