
$heading-color:#000000;
$body-color:#555555;
$primary-color:#3F3177;
$primary-medium:#9F98BB;
$primary-light:#DFDDE8;
$secondary-color:#f78a74;
$secondary-medium:#FFD180;
$secondary-light:#fef7f5;
$bg-color:#F7F7F7;
$bg-dark:#9b9b9b;
$grey-light:#D6D6D6;
$border-color:#E8E8E8;
$border-dark:#C7C7C7;
$white-color:#ffffff;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;