.open-bg {
  background-color: var(--clr-blue-50)
}

.flagged-bg {
  background-color: var(--clr-orange-50)
}

.rejected-bg {
  background-color: var(--clr-red-50);
}

.approved-bg {
  background-color: var(--clr-green-50)
}

.inprogress-bg {
  background-color: var(--clr-green-50);
}

.open-dark-bg {
  background-color: var(--clr-blue-50);
}

.flagged-dark-bg {
  background-color: var(--clr-orange-50);
}

.rejected-dark-bg {
  background-color: var(--clr-red-50);
}

.approved-dark-bg {
  background-color: var(--clr-green-50);
}

.inprogress-dark-bg {
  background-color: var(--clr-primary-200)
}

.open {
  color: var(--clr-blue);
}

.flagged {
  color: var(--clr-orange)
}

.rejected {
  color: var(--clr-blue)
}

.approved {
  color: var(--clr-green)
}

.inprogress {
  color: var(--clr-primary-900)
}
 