.insta{
    margin-top:50px;
    padding:10px;
    background-color: $white-color;
    .insta-title{
        margin-bottom: 15px;
        text-align: center;
        svg{
            margin-right: 10px;
        }
        h3{
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .insta-item{
        padding:5px;
        figure{
            position: relative;
            margin:0 0 .6125rem 0;
            figcaption{
                position:absolute;
                width: 0;
                height: 100%;
                content:'';
                top:0;
                bottom:0;
                left:0;
                background-color: rgba($secondary-color,.7);
                visibility: hidden;
                opacity: 0;
                @include transition(width .7s ease-in-out);
                @include display-flex(flex);
                @include justify-content-center;
                @include align-items-center;
                @include flex-direction-column(column);
                z-index: 1;
                .icons{
                    @include display-flex(flex);
                    @include justify-content-center;
                    @include align-items-center;
                    a{
                        color:$white-color;
                        position: relative;
                        z-index: 2;
                        margin:0 auto;
                        text-align: center;
                        &:not(:last-child){
                            margin-right: 10px;
                        }
                    }
                }
                
            }
            &:hover{
                figcaption{
                    right:0;
                    visibility: visible;
                    opacity: 1;
                    width: 100%;
                }
            }
        }
    }
    .insta-slider{
        .slick-dotted.slick-slider {
            margin: 0;
        }
    }
}