
  .profile-section{
      padding-bottom: 100px;
      
      .profile{
          background-color: $bg-color;
          position: relative;
          padding:70px 15px;
          @media #{$breakpoint-md}{
            padding:50px 15px;
          }
      }
    .profile-row{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-center;
        
        figure.profile-figure{
            @include flex(0 0 320px);
            max-width: 320px;
            margin:0;
            img{
                max-width: 280px;
                height: 280px;
                @include radius(100%);
                padding:5px;
                background-color:$white-color
              }
              
        }
        .profile-post{
          font-family: $rochester;
          .post-meta{
            font-size:1.3rem;
            margin-top: 25px;
            a{
              color:$secondary-color;
            }
            &:last-child{
              margin-bottom: 0;
            }
          }
          h5{
            text-transform: capitalize;
          }
          figure{
            display: block;
            &.signature{
              margin-top:2rem;
            }
          }
        }
        @media #{$breakpoint-lg}{
          @include flex-wrap(wrap);
          @include justify-content-center;
          figure{
            @include flex(0 0 100%);
            max-width: 100%;
            margin:0 auto 2rem auto;
            text-align: center;
          }
          @media #{$breakpoint-md}{
            figure.profile-figure{
              @include flex(0 0 280px);
              max-width: 280px;
              img{
                  max-width: 250px;
                  height: 250px;
                  @include radius(100%);
                }
                
          }
          }
        }
    }
    
  }
  .about-me{
    
    .profile-section{
      padding-bottom: 100px;
      margin-top:2rem;
      .profile{
          background-color: $white-color;
          position: relative;
          padding:70px 15px;
         
      }
      .profile-row{
          display: inherit;
          text-align: center;
          figure{
              @include flex(0 0 100%);
              max-width: 320px;
              margin:0 auto 2rem auto;
              text-align: center;
              img{
                height: auto;
              }
          }
          .profile-post{
              @include flex(0 0 100%);
              max-width: 100%;
          }
      }
    }
  }
  .profile-section{
    .pf-social{
      max-width: 500px;
      position: absolute;
      bottom:-50px;
      left:0;
      right: 0;
      margin:0 auto;
      background-color: $bg-color;
      border-radius:100%;
      height: 120px;
      text-align: center;
      ul{
        @include display-flex(flex);
        justify-content: center;
        align-items:center;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
        bottom:30px;
        li{
          a{
            width:40px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            border:2px solid $bg-dark;
            @include radius(100%);
            margin-right: 10px;
            color:$bg-dark;
            @include transition(all .5s ease-in-out);
            overflow: hidden;
            &:hover{
              color:$secondary-color;
              border-color:$secondary-color;
            }
          }
        }
      
      }
    }
  }
  .home{
    .profile-section{
      .widgettitle{
        display: none;
      }
    }
  }