.table {
    width: 100%;
    margin-bottom: 1rem;
    color: $body-color;
    @include radius(5px);
    &.is-border{
        border-top: 1px solid $border-color;
        tr{
            border: 1px solid $border-color;
        }
    }
}
.table td,
.table th {
    padding:.5rem 0.75rem;
    vertical-align: top;
    border-top: 1px solid $border-color;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $border-color;
    background-color: $bg-color;
    color:$body-color;
    font-weight: 400;
    text-transform: capitalize;
}
.table tbody + tbody {
    border-top: 2px solid $border-color;
}
.table-sm td,
.table-sm th {
    padding: 0.3rem;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid $border-color;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
        border: 0;
    }
}
@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
        border: 0;
    }
}
@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
        border: 0;
    }
}
@media (max-width: 1440px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
        border: 0;
    }
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-responsive > .table-bordered {
    border: 0;
}
.zite-table{
    table{
        h6{
            font-size: .9125rem;
            @media #{$breakpoint-desktop}{
                font-size: .8125rem;
            }
        }
        th{
            &.serial-no{
                width:50px;
            }
        }
        td{
            .site-progress{
                @include display-flex(flex);
                @include align-items-center;
                @include justify-content-start;
                b{
                    padding-right: .6125rem;
                    font-weight: 600;
                }
                .zite-progress{
                    flex-grow: 1;
                    height: 6px;
                }
            }
            .org{
                @extend .site-progress;
                figure{
                    @include flex(0 0 40px);
                    max-width: 40px;
                    margin:0;
                    img{
                        max-width: 28px;
                        height: 28px;
                        width: 100%;
                        @include radius(100%);
                    }
                }
                
            }
        }
        tr{
            @include radius(5px);
            &.form-header{
                h5{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    span{
                        padding-left: .5rem;
                    }
                }
                &.active{
                    
                    h5{
                        color:$primary-color;
                        i{
                            @include transform(rotate(180deg));
                        }
                    }
                }
            }
        }
    }
    .table-status{
        @include display-flex(flex);
        @include align-items-center;
        [class*=status] {
            @include display-flex(flex);
            @include justify-content-center;
            @include align-items-center;
            color: $body-color;
            @include radius(20px);
            cursor: pointer;
            @include transition(all .4s ease-in-out);
            min-width: 28px;
            min-height: 28px;
            margin-right: -4px;
            border:1px solid $white-color;
            @include transform(scale(1));
            &.is-blue {
                background-color: $blue-light;
                color:$blue-color;
            }
        
            &.is-red {
                background-color: $red-light;
                color:$red-color;
            }
        
            &.is-green {
                background-color: $primary-light;
                color:$primary-color;
            }
        
            &.is-orange {
                background-color: $orange-light;
                color:$orange-color;
            }
            &:hover{
                @include transform(scale(1.2));
            }
        }
        
        &.is-start {
            @include justify-content-start;
        }

        &.is-end {
            @include justify-content-end;
        }

        &.is-center {
            @include justify-content-center;
        }
    }
    
}