.zite-header{
    padding:1.5rem 2rem 0 2rem;
    background-color: $white-color;
    .top-header,.bottom-header{
        @include display-flex(flex);
        @include justify-content-between;
        @include align-items-start;
    };
    .org-details{
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-start;
        flex-grow: 1;
        .org-logo{
            @include flex(0 0 75px);
            max-width: 75px;
            img{
                width: 60px;
                height: 60px;
                @include radius(100%);
            }
        }
        .org-info{
            flex-grow: 1;
            a{
                text-transform: capitalize;
                color:$heading-color;
                font-weight: 600;
                @include transition(all .4s ease-in-out);
                &:hover{
                    color:$primary-color;
                }
            }
            h1{
                margin-bottom: .5rem;
                font-size: 1.35rem;
            }
            h6{
                margin:0;
                a{
                    color:$primary-dark;
                    font-size:.9125rem;
                }
            }
        }
        ul{
            margin-top:1.5rem;
            &.org-summary{
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                li{
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    b{
                        font-size: 1.35rem;
                        font-weight: 600;
                        color:$heading-color;
                        margin-right: .6125rem;
                    }
                    &:not(:last-child){
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    .header-icons{
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center; 
        margin-top:1rem;
        .custom-dropdown{
            ul{
                &.custom-dropdown-menu{
                    li{
                        border:0;
                        a{
                            font-weight: 600;
                            
                            color:$heading-color;
                        }
                    }
                }
            }
        }
    }
    .bottom-header{
        background-color: $white-color;
        position: -webkit-sticky;
        position: sticky;
        top:0;
        .tab-list{
            flex-grow: 1;
        }
    }
    .filter{
        @include display-flex(flex);
        @include justify-content-end;
        @include align-items-center;
        .filter-content{
            flex-grow: 1;
            display: none;
            .filter-row{
                @include display-flex(flex);
                @include justify-content-end;
                @include align-items-center;
                
            }
            .form-group{
                margin:0 10px 0 0;
                max-width: 160px;
                input{
                    &.form-control {
                        height: calc(1.5em + 0.75rem + 2px);
                        @include input-placeholder {
                            color: $border-color;
                            font-size: .775rem;
                            text-transform: capitalize;
                        }
                    }
                }
            }
            .custom-select {
                
                p {
                  display: block;
                min-width: 160px;
                  &.selected-item {
                    border: 1px solid $border-color;
                    height: 2.3rem;
                    line-height: 2.3rem;
                  }
                }
              }
        }
    }
}