dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
    padding: 0;
}

ul dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    margin: 0;
    &.list {
        @include radius(5px);
        li {
            padding: 0.5rem 1rem;
            color: var(--clr-body);
            @include transition(all 0.4s ease-in-out);
            @include display-flex(flex);
            @include justify-content-start;
            position: relative;
            a {
                color: var(--clr-body);
                font-weight: 500;
            }
            .project {
                @include flex-grow(1);
                max-width: 250px;
                text-align: left;
            }
            figure {
                @include flex(0 0 55px);
                max-width: 55px;
                margin: 0;
                img {
                    width: 40px;
                    height: 40px;
                    @include radius(100%);
                    border: 1px solid var(--clr-body-300);
                }
            }
            span {
                &.counter {
                    padding: 0 8px;
                    @include radius(50%);
                    background-color: var(--clr-primary-50);
                    color: var(--clr-primary-500);
                    font-weight: 500;
                    margin-left: 0.5rem;
                    border: 1px solid var(--clr-white);
                    display: inline-flex;
                    @include align-items-center;
                    height: 24px;
                    &:hover {
                        background-color: var(--clr-primary-500);
                        color: var(--clr-white);
                    }
                }
                &.drag-icon {
                    display: inline-flex;
                    color: var(--clr-body);
                    margin-right: 0.6125rem;
                }
            }
            .circle-icon {
                i {
                    font-size: 1rem;
                }
                
            }
            .list-content {
              
                p {
                    a {
                        font-weight: 600;
                        // color: var(--clr-body);
                    }
                }
                time {
                    color: var(--clr-body-600);
                    display: block;
                    margin-top: 0.25rem;
                    font-size: var(--fs-md);
                }
                a {
                    &.phone-number {
                        color: var(--clr-primary-500);
                        font-size: var(--fs-md)
                       
                    }
                }
                h6 {
                    margin-bottom: 0.6125rem;
                    font-weight: 600;
                    font-size: 0.875rem;
                }
                h5 {
                    font-size: 0.875rem;
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--clr-body-300);
            }
            .list-content-wrapper {
                @include display-flex(flex);
                @include justify-content-start;
                flex-grow: 1;
            }
            .general-form-content {
                .form-content-info {
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-start;
                    margin-top: 0.35rem;
                    p {
                        @include display-flex(flex);
                        @include justify-content-start;
                        @include align-items-center;
                        font-size: 0.775rem;
                        b {
                            font-weight: 500;
                        }
                        span {
                            margin-right: 0.5rem;
                        }
                        &:not(:last-child) {
                            margin-right: 2rem;
                        }
                    }
                }
            }
            &.list-header {
                @include justify-content-between;
                h5 {
                    text-transform: uppercase;
                    font-weight: 700;
                }
                i {
                    font-size: 1rem;
                    color: var(--clr-primary-500);
                }
            }
            &.list-footer {
                a {
                    width: 24px;
                    height: 24px;
                    min-height: 24px;
                }
            }
            &.is-active {
                background-color: var(--clr-primary-50);
            }
            &.is-selected {
                &::after {
                  content: 'check';
                  position: absolute;
                  top: 50%;
                  font-family: 'Material Icons';
                  right: 1rem;
                  color: var(--clr-primary-500);
                  
                }
              }
            &.is-between {
                @include justify-content-between;
            }
            &.is-around {
                @include justify-content-around;
            }
            .review-card {
                width: 100%;
                @include transition(all 0.5s ease-in-out);
                display: block;
                .review-header {
                    margin-bottom: 0.6125rem;
                    position: relative;
                }
                .custom-dropdown {
                    position: absolute;
                    right: 0;
                    top: 0;
                    .circle-icon {
                        background-color: var(--clr-white);
                        width: 24px;
                        height: 24px;
                        min-height: 24px;
                        i {
                            font-size: 1.1rem;
                            color: var(--clr-body);
                        }
                    }
                    ul {
                        li {
                            display: block;
                            padding: 0;
                        }
                    }
                }
                .is-review-breadcrumb {
                    .rvw-breadcrumb-item {
                        @include display-flex(flex);
                        color:var(--clr-body-600);
                        a {
                            text-transform: uppercase;
                            max-width: 130px;
                            font-weight: 500;
                            color:var(--clr-body-600);
                        }
                        &:not(:last-child) {
                            &::after {
                                content: 'chevron_right';
                                font-size: 1.3rem;
                                font-family: 'Material Icons';
                                line-height: 1;
                                display: inline-flex;
                                text-transform: initial;
                            }
                        }
                    }
                }
                figure {
                    @include flex(0 0 40px);
                    max-width: 40px;
                    img {
                        width: auto;
                        height: auto;
                        @include radius(0);
                        border: none;
                    }
                    .circle-icon {
                        background-color: transparent;
                    }
                }
                .list-content {
                    padding-right: 1rem;
                    h6 {
                        margin-bottom: 0.5rem !important;
                    }
                    .case-id {
                        color: var(--clr-primary-500);
                        font-weight: 100;
                    }
                }
                .review-footer {
                    margin-top: 0.5rem;
                    .review-submission {
                        b {
                            margin-right: 0.5rem;
                        }
                        span {
                            font-weight: 500;
                            color: var(--clr-body);
                        }
                    }
                    .review-submission-by {
                        b {
                            font-weight: 500;
                            margin-right: 0.5rem;
                            color: var(--clr-body);
                        }
                        span {
                            color: var(--clr-body);
                            max-width: 140px;
                            font-weight: 500;
                        }
                    }
                    .table-status {
                        .status {
                            width: 28px;
                            height: 28px;
                        }
                        .is-more {
                            margin-left: 0.6125rem;
                        }
                    }
                }
                
            }
            &.cfp-review-card {
                width: 100%;
                .cfp-review-left,
                .cfp-review-right {
                    padding: 0;
                    .review-submission-by {
                        width: 110px;
                        b {
                            font-weight: 500;
                            margin-right: 0.5rem;
                            color: var(--clr-body);
                        }
                        span {
                            color: var(--clr-body);
                            max-width: 140px;
                            font-weight: 500;
                        }
                    }
                    time {
                        color: var(--clr-body-600);
                        display: block;
                        margin-top: 0.15rem;
                        font-size: var(--fs-md);
                        max-width: 100px;
                    }
                }
                .review-header {
                    margin-bottom: 0.5rem;
                    position: relative;
                }
                .custom-dropdown {
                    .circle-icon {
                        background-color: var(--clr-white);
                        width: 24px;
                        height: 24px;
                        min-height: 24px;
                        i {
                            font-size: 1.1rem;
                            color: var(--clr-body);
                        }
                    }
                    ul {
                        li {
                            display: block;
                            padding: 0;
                        }
                    }
                }
                .is-review-breadcrumb {
                    .rvw-breadcrumb-item {
                        @include display-flex(flex);
                        color: var(--clr-body);
                        a {
                            text-transform: uppercase;
                            font-size: 0.8125rem;
                            color: var(--clr-body);
                            max-width: 130px;
                            font-weight: 500;
                        }
                        &:not(:last-child) {
                            &::after {
                                content: 'chevron_right';
                                font-size: 1.3rem;
                                font-family: 'Material Icons';
                                line-height: 1;
                                display: inline-flex;
                                text-transform: initial;
                            }
                        }
                    }
                }
                figure {
                    @include flex(0 0 40px);
                    max-width: 40px;
                    img {
                        width: auto;
                        height: auto;
                        @include radius(0);
                        border: none;
                    }
                    .circle-icon {
                        background-color: transparent;
                    }
                }
                .list-content {
                    padding-right: 1rem;
                    h6 {
                        margin: 0;
                    }
                    .case-id,
                    time {
                        @include flex(0 0 100px);
                        max-width: 160px;
                        text-align: right;
                        margin: 0;
                        padding-right: 1rem;
                    }
                    .case-id {
                        color: var(--clr-primary-500);
                        font-weight: 600;
                    }
                    .icon-wrapper {
                        .review-submission {
                            width: 110px;
                            b {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
                .cfp-review-right {
                    .review-submission {
                        b {
                            margin-right: 0.5rem;
                        }
                        span {
                            font-weight: 500;
                            color: var(--clr-body);
                        }
                    }
                    .review-submission-by {
                        @include flex(0 0 120px);
                        max-width: 120px;
                        b {
                            font-weight: 500;
                            margin-right: 0.5rem;
                            color: var(--clr-body);
                        }
                        span {
                            color: var(--clr-body);
                            max-width: 140px;
                            font-weight: 500;
                        }
                    }
                    .table-status {
                        @include flex(0 0 100px);
                        max-width: 100px;
                        &.is-figure {
                            .status {
                                width: 28px;
                                height: 28px;
                            }
                        }
                        .is-more {
                            margin-left: 0.6125rem;
                        }
                    }
                }
                &:hover {
                    background-color: var(--clr-primary-50);
                }
            }
        }
        &.is-border {
            border: 1px solid var(--clr-body-300);
        }
        &.is-center {
            @include align-items-center;
        }
        &.is-start {
            @include align-items-start;
        }
        &.is-after {
            li {
                position: relative;
                &::after {
                    content: 'expand_more';
                    margin-left: 0.6125rem;
                    content: 'chevron_right';
                    font-size: 1.4rem;
                    font-family: 'Material Icons';
                    color: var(--clr-body);
                    z-index: 99;
                    line-height: 1;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
            }
            &.is-check {
                li {
                    &::after {
                        content: none;
                        top: 7px;
                        font-size: 1.3rem;
                    }
                    &.is-active {
                        background-color: var(--clr-primary-50);
                        &::after {
                            content: 'check';
                        }
                        a {
                            background-color: var(--clr-primary-50);
                            color: var(--clr-primary-500);
                            a {
                                color: var(--clr-primary-500);
                            }
                        }
                    }
                }
            }
        }
        &.is-plus {
            padding-left: 10px;
            li {
                position: relative;
                cursor: pointer;
                a {
                    margin-left: 2rem;
                    color: var(--clr-body);
                }
                &::before {
                    content: 'add_circle_outline';
                    font-size: 1.4rem;
                    font-family: 'Material Icons';
                    color: var(--clr-primary-500);
                    z-index: 99;
                    line-height: 1;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                &.active {
                    background-color: var(--clr-primary-50);
                    a {
                        color: var(--clr-body);
                    }
                    &::before {
                        content: 'remove_circle_outline';
                        color: var(--clr-body);
                    }
                }
                &.is-checked {
                    background-color: var(--clr-primary-50);
                    color: var(--clr-primary-500);
                    a {
                        color: var(--clr-primary-500);
                    }
                    &::before {
                        content: 'check';
                    }
                }
            }
        }
        &.is-drag {
            li {
                .drag-icon {
                    max-width: 20px;
                    margin-right: 0.6125rem;
                }
                .edit-close {
                    position: absolute;
                    right: .5rem;
                    top: 50%;
                    @include transform(translateY(-50%));
                    z-index: 1;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(all .5s ease-in-out);
                    i {
                        font-size: 1rem;
                        color: var(--clr-body);
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        @include display-flex(flex);
                        @include justify-content-center;
                        @include align-items-center;
                        @include flex-direction-column(column);
                        @include transition(all .4s ease-in-out);
                        @include radius(100%);
                        &:hover {
                            background-color: var(--clr-white);
                        }
                    }
                }
                &:hover {
                    cursor: move;
                    .edit-close {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    &.address {
        margin-top: .75rem;
        li {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            
            i {
                color: var(--clr-primary-500);
                margin-right: 0.5rem;
            }
        }
        &.inline-address {
            @include display-flex(flex);
            @include justify-content-start;
            @include align-items-center;
            @include flex-wrap(wrap);
            margin-top: .75rem;
            margin-bottom: 1.25rem;
            li {
                &:not(:last-child) {
                    margin-right: 2.5rem;
                }
            }
        }
    }
    &.is-checkbox {
        .custom-checkbox {
            width: 100%;
            margin: 0;
            label {
                color: var(--clr-body);
                font-weight: 500;
            }
            .check-content {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-center;
                flex-grow: 1;
                i {
                    margin-right: 5px;
                    font-size: 18px;
                }
                b {
                    text-transform: capitalize;
                    color: var(--clr-body);
                    font-weight: 500;
                }
            }
        }
        li {
            &:focus-within,
            &:hover {
                background-color: var(--clr-primary-50);
            }
        }
    }
    
}

ul.selected-general-form {
    li {
        @include display-flex(flex);
        @include justify-content-start;
        @include align-items-start;
        padding: 0.6125rem;
        @include radius(5px);
        margin-top: 10px;
        background-color: var(--clr-primary-50);
        position: relative;
        .form-icon {
            @include flex(0 0 50px);
            max-width: 50px;
            img {
                max-width: 40px;
            }
        }
        .general-form-content {
            .form-content-info {
                @include display-flex(flex);
                @include justify-content-start;
                @include align-items-start;
                margin-top: 0.35rem;
                p {
                    @include display-flex(flex);
                    @include justify-content-start;
                    @include align-items-center;
                    font-size: 0.775rem;
                    b {
                        font-weight: 500;
                    }
                    span {
                        margin-right: 0.5rem;
                    }
                    &:not(:last-child) {
                        margin-right: 2rem;
                    }
                }
            }
        }
        span.close-icon {
            right: 10px;
            top: 10px;
            width: 34px;
            height: 34px;
            i {
                font-size: 1.2rem;
            }
        }
    }
}

ul {
    &.site-info-list {
        li {
            @include display-flex(flex);
            @include justify-content-between;
            @include align-items-start;
            padding: 10px 10px 0;
            border: 1px solid var(--clr-body-300);
            @include radius(5px);
            @include transition(all 0.5s ease-in-out);
            .inline-row {
                @include align-items-start;
                .site-info-item {
                    color: var(--clr-body);
                    margin-bottom: 10px;
                    h5 {
                        img {
                            max-width: 20px;
                            margin-right: 10px;
                        }
                        &:hover {
                            cursor: -moz-grab;
                            cursor: -moz-grabbing;
                            cursor: move;
                        }
                    }
                    h6 {
                        color: var(--clr-body);
                        margin-bottom: 5px;
                        text-transform: capitalize;
                    }
                    &:not(:last-child) {
                        margin-right: 50px;
                    }
                }
            }
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
            &:hover {
                background-color: var(--clr-primary-50);
            }
        }
    }
}